# **Yahoo Finance**

In [0]:
import yfinance as yf
import time

In [0]:
def retrive_data(share_code):
  msft = yf.Ticker(share_code)
  hist = msft.history(period="max")
  return hist

def data_show(share_list):
  for share_code in share_list:
    hist = retrive_data(share_code)
    print('\n',share_code,"'s historical data \n")
    print(hist.tail())
    time.sleep(1)

In [212]:
share_list = ['MRNA','DIS','NVAX','VIR','UBER','BABA','IBIO','HEXO','GE','RCL']
data_show(share_list)

 MRNA 's historical data

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2020-05-12  65.99  68.49  62.02  62.35  25934500          0             0
2020-05-13  63.80  66.97  60.29  65.18  22126000          0             0
2020-05-14  64.79  65.39  61.44  64.56  12198200          0             0
2020-05-15  63.79  67.67  63.01  66.69  16341900          0             0
2020-05-18  86.14  87.00  75.66  80.00  80813300          0             0

 DIS 's historical data

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-05-12  109.06  109.44  104.49  104.56  17049700        0.0           0.0
2020-05-13  104.50  104.54  101.60  102.92  21085800        0.0           0.0
2020-05-14  101.98  105.92   99.66  105.91  22002200        0.0           0.0
2020-05-15  104.98  109.38  104.27  109.05  29766000        0.0           0.0
2020-05-18  114.47  119.78  114.47  116.85  40044600        0.0           0.0

 NVAX 's historical data

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2020-05-12  39.02  44.94  36.08  39.82  74649600          0           0.0
2020-05-13  39.32  42.80  37.40  40.67  24237100          0           0.0
2020-05-14  39.23  40.35  37.37  38.30   7832800          0           0.0
2020-05-15  38.18  46.00  38.05  43.63  21892500          0           0.0
2020-05-18  49.28  61.50  48.30  56.96  24580300          0           0.0

 VIR 's historical data

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2020-05-12  32.18  32.27  29.91  30.26  1089500          0             0
2020-05-13  30.81  31.30  29.05  30.71  1106000          0             0
2020-05-14  30.01  31.38  29.17  31.15  1146500          0             0
2020-05-15  30.21  31.70  29.72  30.35   684900          0             0
2020-05-18  33.45  42.40  33.02  40.10  5560600          0             0

 UBER 's historical data

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2020-05-12  31.42  34.45  30.41  32.40  89586000          0             0
2020-05-13  32.30  33.06  30.83  33.02  47279500          0             0
2020-05-14  32.53  33.04  31.24  32.79  32912600          0             0
2020-05-15  32.26  32.89  31.59  32.47  25950000          0             0
2020-05-18  33.70  36.00  32.99  33.62  47534600          0             0

 BABA 's historical data

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-05-12  206.95  208.05  200.02  200.31  17826800          0             0
2020-05-13  203.62  204.68  197.98  199.46  22429700          0             0
2020-05-14  195.50  201.77  194.03  201.30  20025900          0             0
2020-05-15  200.70  204.49  200.10  203.68  17209500          0             0
2020-05-18  212.50  215.47  210.37  215.28  23556600          0             0

 IBIO 's historical data

            Open  High   Low  Close    Volume  Dividends  Stock Splits
Date
2020-05-12  1.19  1.19  1.07   1.09   8454500          0           0.0
2020-05-13  1.07  1.10  1.01   1.09   5542200          0           0.0
2020-05-14  1.12  1.29  1.11   1.19  23958300          0           0.0
2020-05-15  1.26  1.48  1.16   1.48  25654700          0           0.0
2020-05-18  1.60  1.97  1.56   1.75  54044000          0           0.0

 HEXO 's historical data

            Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2020-05-12  0.49  0.504  0.480  0.481   2853300          0             0
2020-05-13  0.48  0.482  0.430  0.448   4488700          0             0
2020-05-14  0.43  0.450  0.400  0.437   3729300          0             0
2020-05-15  0.46  0.539  0.455  0.531  13980900          0             0
2020-05-18  0.63  0.890  0.571  0.750  49683400          0             0

 GE 's historical data

            Open  High   Low  Close     Volume  Dividends  Stock Splits
Date
2020-05-12  6.22  6.28  6.00   6.00   95652200        0.0           0.0
2020-05-13  6.00  6.02  5.48   5.79  235745300        0.0           0.0
2020-05-14  5.62  5.90  5.48   5.70  140205400        0.0           0.0
2020-05-15  5.61  5.66  5.48   5.49  128486200        0.0           0.0
2020-05-18  5.74  6.49  5.74   6.27  254558400        0.0           0.0

 RCL 's historical data

             Open   High    Low  Close      Volume  Dividends  Stock Splits
Date
2020-05-12  38.95  39.22  36.32  36.34  10499900.0        0.0           0.0
2020-05-13  36.98  37.01  33.40  34.53  22563500.0        0.0           0.0
2020-05-14  33.00  35.87  31.41  35.15  22829500.0        0.0           0.0
2020-05-15  34.40  38.27  34.37  37.45  18249400.0        0.0           0.0
2020-05-18  41.20  44.98  41.20  43.70  29372600.0        0.0           0.0

# **Quandl**

In [0]:
quandl.ApiConfig.api_key = 'jhrYxtqyqrLrqZd-YKYx'

In [0]:
def get_quandl_data(code_list):
  for code,name in code_list:
    data = quandl.get(code)
    print('\n---------',name,' historical data------------- \n')
    print(data.tail())
    time.sleep(1)

## 5 Macroeconomic Indicators

In [0]:
macroeco_index_list = [("RATEINF/CPI_USA","CPI of USA"),
             ("FRED/GDPC1","Real GDP of USA"),
             ("FRED/NROUST","Natural Rate of Unemployment (Short-Term)"),
             ("FRED/BOPSTB","Trade Balance: Services, Balance of Payments Basis"),
             ("ISM/MAN_PMI","PMI Composite Index")]

In [216]:
get_quandl_data(macroeco_index_list)

--------- CPI of USA  historical data-------------

              Value
Date
2019-12-31  256.974
2020-01-31  257.971
2020-02-29  258.678
2020-03-31  258.115
2020-04-30  256.389

--------- Real GDP of USA  historical data-------------

                Value
Date
2019-01-01  18927.281
2019-04-01  19021.860
2019-07-01  19121.112
2019-10-01  19221.970
2020-01-01  18987.877

--------- Natural Rate of Unemployment (Short-Term)  historical data-------------

               Value
Date
2029-10-01  4.210983
2030-01-01  4.203966
2030-04-01  4.196964
2030-07-01  4.189984
2030-10-01  4.183028

--------- Trade Balance: Services, Balance of Payments Basis  historical data-------------

              Value
Date
2019-11-01  21001.0
2019-12-01  21038.0
2020-01-01  21640.0
2020-02-01  21235.0
2020-03-01  21184.0

--------- PMI Composite Index  historical data-------------

             PMI
Date
2019-12-01  47.8
2020-01-01  50.9
2020-02-01  50.1
2020-03-01  49.1
2020-04-01  41.5

## 5 Stocks’ Historical Data

In [0]:
stock_list = [("EOD/HD","Home Depot Inc"),
              ("EOD/DIS","The Walt Disney Company"),
              ("EOD/MSFT","Microsoft Corporation"),
              ("EOD/BA","The Boeing Company"),
              ("EOD/MMM","3M Company")]

In [218]:
get_quandl_data(stock_list)

--------- Home Depot Inc  historical data-------------

              Open    High     Low  ...     Adj_Low   Adj_Close  Adj_Volume
Date                                ...
2017-12-21  187.70  188.84  187.44  ...  177.250156  177.855363   5859058.0
2017-12-22  188.20  188.46  187.27  ...  177.089397  177.902645   3256519.0
2017-12-26  188.53  190.42  188.34  ...  178.101229  180.011415   2969182.0
2017-12-27  190.60  191.49  190.01  ...  179.680442  179.850657   5912613.0
2017-12-28  190.91  190.98  189.64  ...  179.330556  179.462946   3175631.0

[5 rows x 12 columns]

--------- The Walt Disney Company  historical data-------------

              Open     High       Low  ...     Adj_Low   Adj_Close  Adj_Volume
Date                                   ...
2017-12-21  109.52  111.090  109.1892  ...  106.178022  106.548321   9366706.0
2017-12-22  109.40  109.685  108.4500  ...  105.459208  105.673141   7377990.0
2017-12-26  108.49  109.370  107.8900  ...  104.914651  105.138308   3982398.0
2017-12-27  108.42  108.550  107.4550  ...  104.491647  104.671545   5624037.0
2017-12-28  108.00  108.050  107.0600  ...  104.107541  104.797960   3477599.0

[5 rows x 12 columns]

--------- Microsoft Corporation  historical data-------------

             Open     High     Low  ...    Adj_Low  Adj_Close  Adj_Volume
Date                                ...
2017-12-21  86.05  86.1000  85.400  ...  82.772995  82.869919  17990745.0
2017-12-22  85.40  85.6300  84.920  ...  82.307760  82.879611  14145841.0
2017-12-26  85.31  85.5346  85.030  ...  82.414376  82.772995   9891237.0
2017-12-27  85.65  85.9800  85.215  ...  82.593686  83.073459  14678025.0
2017-12-28  85.90  85.9300  85.550  ...  82.918381  83.083151  10594344.0

[5 rows x 12 columns]

--------- The Boeing Company  historical data-------------

               Open      High       Low  ...     Adj_Low   Adj_Close  Adj_Volume
Date                                     ...
2017-12-21  298.040  298.3852  294.1301  ...  280.249140  281.106570   5395193.0
2017-12-22  295.135  296.5200  293.0100  ...  279.181901  281.173267   2257000.0
2017-12-26  295.540  297.4400  294.6500  ...  280.744504  281.420997   1394737.0
2017-12-27  296.410  296.8000  294.8000  ...  280.887425  281.668726   1447837.0
2017-12-28  295.810  296.9900  294.7400  ...  280.830256  282.364275   1436543.0

[5 rows x 12 columns]

--------- 3M Company  historical data-------------

              Open    High     Low  ...     Adj_Low   Adj_Close  Adj_Volume
Date                                ...
2017-12-21  236.95  237.25  234.41  ...  218.852778  219.198222   2240586.0
2017-12-22  234.57  236.08  234.28  ...  218.731406  219.151541   1280557.0
2017-12-26  235.08  236.28  235.03  ...  219.431630  219.823756    789090.0
2017-12-27  235.52  236.54  234.84  ...  219.254240  220.523980    970508.0
2017-12-28  236.94  237.08  235.28  ...  219.665038  220.075837   1189738.0

[5 rows x 12 columns]

# **Tushare**

In [219]:
import tushare as ts
ts.__version__

'1.2.59'

In [0]:
ts.set_token('6e9278f06e1cfc3c2383e7646a5c374f1ca5718a9d3ededfd49a6d06')

In [0]:
pro = ts.pro_api()

In [0]:
def get_tushare_stock(code_list):
  for (code,name) in code_list:
    df = pro.daily(ts_code=code)
    print('\n---------',name,' historical data------------- \n')
    print(df.head())
    time.sleep(1)

def get_tushare_future(code_list):
  for code in code_list:
    df = pro.fut_daily(ts_code= code )
    print('\n---------',code,' historical data------------- \n')
    print(df.head())
    time.sleep(1)

## 5 Futures' Historical Data

In [0]:
future_list = ['CU2006.SHF','CU2007.SHF','CU2008.SHF','CU2009.SHF','CU2010.SHF']

In [224]:
get_tushare_future(future_list)

--------- CU2006.SHF  historical data-------------

      ts_code trade_date  pre_close  ...       amount        oi  oi_chg
0  CU2006.SHF   20200518    43130.0  ...  1456643.885  106766.0 -4401.0
1  CU2006.SHF   20200515    42910.0  ...  1620959.440  111167.0 -1658.0
2  CU2006.SHF   20200514    43060.0  ...  1308019.540  112825.0 -2358.0
3  CU2006.SHF   20200513    43040.0  ...  1676264.860  115183.0    -8.0
4  CU2006.SHF   20200512    43500.0  ...  1735694.955  115191.0 -1258.0

[5 rows x 15 columns]

--------- CU2007.SHF  historical data-------------

      ts_code trade_date  pre_close  ...       amount        oi  oi_chg
0  CU2007.SHF   20200518    42940.0  ...  1707748.115  102419.0  2013.0
1  CU2007.SHF   20200515    42730.0  ...  1829547.765  100406.0 -1067.0
2  CU2007.SHF   20200514    42860.0  ...  1183222.010  101473.0  -734.0
3  CU2007.SHF   20200513    42850.0  ...  1621689.240  102207.0  2278.0
4  CU2007.SHF   20200512    43350.0  ...  1677770.750   99929.0  7790.0

[5 rows x 15 columns]

--------- CU2008.SHF  historical data-------------

      ts_code trade_date  pre_close  ...      amount       oi  oi_chg
0  CU2008.SHF   20200518    42910.0  ...  544269.055  54198.0  2252.0
1  CU2008.SHF   20200515    42670.0  ...  637801.025  51946.0  -588.0
2  CU2008.SHF   20200514    42810.0  ...  342455.195  52534.0  1390.0
3  CU2008.SHF   20200513    42820.0  ...  486080.090  51144.0  2538.0
4  CU2008.SHF   20200512    43280.0  ...  433024.715  48606.0  2150.0

[5 rows x 15 columns]

--------- CU2009.SHF  historical data-------------

      ts_code trade_date  pre_close  ...      amount       oi  oi_chg
0  CU2009.SHF   20200518    42920.0  ...  258997.225  37937.0  1646.0
1  CU2009.SHF   20200515    42660.0  ...  265638.310  36291.0  1247.0
2  CU2009.SHF   20200514    42810.0  ...  193396.005  35044.0  1179.0
3  CU2009.SHF   20200513    42800.0  ...  245084.425  33865.0  1543.0
4  CU2009.SHF   20200512    43280.0  ...  187282.935  32322.0   925.0

[5 rows x 15 columns]

--------- CU2010.SHF  historical data-------------

      ts_code trade_date  pre_close  ...      amount       oi  oi_chg
0  CU2010.SHF   20200518    42920.0  ...   50743.185  19012.0   211.0
1  CU2010.SHF   20200515    42660.0  ...  107872.555  18801.0  -124.0
2  CU2010.SHF   20200514    42780.0  ...   56693.695  18925.0   142.0
3  CU2010.SHF   20200513    42810.0  ...   51257.440  18783.0   359.0
4  CU2010.SHF   20200512    43300.0  ...   50805.340  18424.0   510.0

[5 rows x 15 columns]

## 5 Stocks' Historical Data

In [0]:
tushare_list = [("600519.SH","贵州茅台"),("600276.SH","恒瑞药业"),("600547.SH","山东黄金"),("603501.SH","韦尔股份"),("603986.SH","兆易创新")]

In [226]:
get_tushare_data(tushare_list)

--------- 贵州茅台  historical data-------------

     ts_code trade_date    open  ...  pct_chg       vol       amount
0  600519.SH   20200518  1306.0  ...   2.5293  34362.11  4587989.708
1  600519.SH   20200515  1329.0  ...  -1.0244  26398.08  3469736.812
2  600519.SH   20200514  1330.0  ...  -0.7006  18574.92  2467976.357
3  600519.SH   20200513  1333.0  ...   0.2213  22014.31  2931464.950
4  600519.SH   20200512  1318.0  ...   0.7551  19721.81  2621824.685

[5 rows x 11 columns]

--------- 恒瑞药业  historical data-------------

     ts_code trade_date   open   high  ...  change  pct_chg        vol       amount
0  600276.SH   20200518  94.95  98.20  ...    2.37   2.4992  301163.21  2909787.600
1  600276.SH   20200515  97.80  98.15  ...   -2.37  -2.4383  253660.60  2426297.766
2  600276.SH   20200514  95.46  98.00  ...    1.50   1.5674  222616.79  2155706.452
3  600276.SH   20200513  95.44  97.00  ...    0.26   0.2724  224920.09  2144887.797
4  600276.SH   20200512  93.68  95.53  ...    1.76   1.8787  182856.28  1732154.239

[5 rows x 11 columns]

--------- 山东黄金  historical data-------------

     ts_code trade_date   open   high  ...  change  pct_chg        vol       amount
0  600547.SH   20200518  37.88  40.35  ...    2.99   8.1008  858377.76  3362637.346
1  600547.SH   20200515  36.40  37.15  ...    0.89   2.4708  521440.22  1919658.071
2  600547.SH   20200514  35.88  36.06  ...    0.33   0.9246  255855.72   917625.019
3  600547.SH   20200513  35.75  35.96  ...   -0.02  -0.0560  156588.75   558770.234
4  600547.SH   20200512  35.63  35.86  ...   -0.20  -0.5569  225162.64   800408.318

[5 rows x 11 columns]

--------- 韦尔股份  historical data-------------

     ts_code trade_date    open  ...  pct_chg        vol       amount
0  603501.SH   20200518  214.88  ...  -9.6789  127295.68  2555924.660
1  603501.SH   20200515  209.00  ...   3.8064   67182.68  1437517.016
2  603501.SH   20200514  209.00  ...  -0.6955   49989.74  1049555.186
3  603501.SH   20200513  204.45  ...   0.6858   45614.85   945742.978
4  603501.SH   20200512  208.00  ...   0.1742   42847.83   879893.128

[5 rows x 11 columns]

--------- 兆易创新  historical data-------------

     ts_code trade_date    open  ...  pct_chg        vol       amount
0  603986.SH   20200518  231.93  ...  -6.0870  265333.68  5984449.922
1  603986.SH   20200515  216.20  ...   7.1113  245053.76  5596530.516
2  603986.SH   20200514  217.50  ...  -1.9498  109815.36  2378616.816
3  603986.SH   20200513  214.21  ...   0.5094  109535.82  2376469.639
4  603986.SH   20200512  221.00  ...  -1.1299  154692.17  3327076.011

[5 rows x 11 columns]

## 5 Macroeconomic Indicator(offline)

In [0]:
ts.get_cpi()

# **FRED**

In [0]:
fr = Fred(api_key='fc5cd632b5e73e63216eb092b1d4f445')

In [0]:
import datapungi_fed as dpf
data = dpf.data('fc5cd632b5e73e63216eb092b1d4f445')

1. GDP

In [230]:
data.series('gdp').tail()

                  gdp
date
2019-01-01  21098.827
2019-04-01  21340.267
2019-07-01  21542.540
2019-10-01  21729.124
2020-01-01  21537.940

2. Real GDP

In [231]:
data.series('GDPC1').tail()

                GDPC1
date
2019-01-01  18927.281
2019-04-01  19021.860
2019-07-01  19121.112
2019-10-01  19221.970
2020-01-01  18987.877

3. Unemployment Rate

In [232]:
data.series('UNRATE').tail()

            UNRATE
date
2019-12-01     3.5
2020-01-01     3.6
2020-02-01     3.5
2020-03-01     4.4
2020-04-01    14.7

4. Natural Rate of Unemployment (Long-Term)

In [233]:
data.series('NROU').tail()

                NROU
date
2029-10-01  4.210983
2030-01-01  4.203966
2030-04-01  4.196964
2030-07-01  4.189984
2030-10-01  4.183028

5. Unemployment Level

In [234]:
data.series('UNEMPLOY').tail()

            UNEMPLOY
date
2019-12-01    5753.0
2020-01-01    5892.0
2020-02-01    5787.0
2020-03-01    7140.0
2020-04-01   23078.0

6. Crude Oil Prices: West Texas Intermediate (WTI)

In [235]:
data.series('DCOILWTICO').tail()

            DCOILWTICO
date
2020-05-05       24.56
2020-05-06       23.88
2020-05-07       23.68
2020-05-08       24.73
2020-05-11       24.02

7. National Rate on Non-Jumbo Deposits (less than $100,000): Savings

In [236]:
data.series('SAVNRNJ').tail()

            SAVNRNJ
date
2020-04-20     0.07
2020-04-27     0.07
2020-05-04     0.07
2020-05-11     0.06
2020-05-18     0.06

8. National Rate on Non-Jumbo Deposits (less than $100,000): 12 Month CD

In [237]:
data.series('CD12NRNJ').tail()

            CD12NRNJ
date
2020-04-20      0.29
2020-04-27      0.29
2020-05-04      0.28
2020-05-11      0.28
2020-05-18      0.27

9.Bank Prime Loan Rate

In [238]:
data.series('DPRIME').tail()

            DPRIME
date
2020-05-11    3.25
2020-05-12    3.25
2020-05-13    3.25
2020-05-14    3.25
2020-05-15    3.25

10. Producer Price Index for All Commodities

In [239]:
data.series('PPIACO').tail()

            PPIACO
date
2019-12-01   199.0
2020-01-01   199.4
2020-02-01   196.5
2020-03-01   193.8
2020-04-01   186.0