In [2]:
import pandas as pd

In [6]:
# S&P 500 Companies by Weight
# https://www.slickcharts.com/sp500
# There are 505 symbols due to several companies with two share classes. 
# For example, Google's parent company Alphabet has Class A (GOOGL) and Class C (GOOG) shares in the index.

In [44]:
df = pd.read_excel('sp500.xlsx')

In [45]:
#Q3: tickers of current S&P 500 companies
df

                       Company Symbol    Weight        Price    Chg     % Chg
0        Microsoft Corporation   MSFT  5.694267       188.17   1.90   -0.0102
1                   Apple Inc.   AAPL  5.621831       338.40   2.50   -0.0074
2              Amazon.com Inc.   AMZN  4.268988     2,536.76 -21.20  (-0.83%)
3        Facebook Inc. Class A     FB  2.164209       229.00   4.57   -0.0204
4        Alphabet Inc. Class A  GOOGL  1.683316     1,413.00  11.10   -0.0079
..                         ...    ...       ...          ...    ...       ...
500             Nordstrom Inc.    JWN  0.007236        17.63   0.48    -0.028
501  Under Armour Inc. Class A    UAA  0.006905         9.70   0.23   -0.0243
502  Under Armour Inc. Class C     UA  0.006621         8.68   0.16   -0.0188
503   News Corporation Class B    NWS  0.005665        11.75   0.31   -0.0271
504          Coty Inc. Class A   COTY  0.005524         4.87   0.29   -0.0633

[505 rows x 6 columns]

In [48]:
df_sort = df.sort_values(['Symbol'])

In [49]:
df_sort

,Company,Symbol,Weight,Price,Chg,% Chg
187,Agilent Technologies Inc.,A,0.105676,86.11,1.08,-0.0127
459,American Airlines Group Inc.,AAL,0.022806,16.70,2.32,-0.1613
399,Advance Auto Parts Inc.,AAP,0.037051,135.73,2.60,-0.0195
1,Apple Inc.,AAPL,5.621831,338.40,2.50,-0.0074
32,AbbVie Inc.,ABBV,0.651828,92.46,0.20,-0.0022
...,...,...,...,...,...,...
180,Yum! Brands Inc.,YUM,0.109888,91.28,0.61,-0.0067
203,Zimmer Biomet Holdings Inc.,ZBH,0.099894,125.19,4.05,-0.0334
323,Zebra Technologies Corporation Class A,ZBRA,0.054290,258.00,7.81,-0.0312
457,Zions Bancorporation N.A.,ZION,0.023082,34.88,1.21,-0.0359
90,Zoetis Inc. Class A,ZTS,0.250141,134.07,3.01,-0.023

In [50]:
# sector of each company
# https://datahub.io/core/s-and-p-500-companies#data

In [51]:
sector = pd.read_excel('sector.xlsx')

In [52]:
sector_sort = sector.sort_values(['Symbol'])

In [53]:
sector_sort

    Symbol                      Name                  Sector
12       A  Agilent Technologies Inc             Health Care
30     AAL   American Airlines Group             Industrials
8      AAP        Advance Auto Parts  Consumer Discretionary
47    AAPL                Apple Inc.  Information Technology
3     ABBV               AbbVie Inc.             Health Care
..     ...                       ...                     ...
500    YUM           Yum! Brands Inc  Consumer Discretionary
502    ZBH    Zimmer Biomet Holdings             Health Care
501   ZBRA        Zebra Technologies  Information Technology
503   ZION             Zions Bancorp              Financials
504    ZTS                    Zoetis             Health Care

[505 rows x 3 columns]

In [54]:
df_sort['Sector'] = sector_sort['Sector']

In [55]:
df_sort

,Company,Symbol,Weight,Price,Chg,% Chg,Sector
187,Agilent Technologies Inc.,A,0.105676,86.11,1.08,-0.0127,Information Technology
459,American Airlines Group Inc.,AAL,0.022806,16.70,2.32,-0.1613,Industrials
399,Advance Auto Parts Inc.,AAP,0.037051,135.73,2.60,-0.0195,Industrials
1,Apple Inc.,AAPL,5.621831,338.40,2.50,-0.0074,Industrials
32,AbbVie Inc.,ABBV,0.651828,92.46,0.20,-0.0022,Financials
...,...,...,...,...,...,...,...
180,Yum! Brands Inc.,YUM,0.109888,91.28,0.61,-0.0067,Real Estate
203,Zimmer Biomet Holdings Inc.,ZBH,0.099894,125.19,4.05,-0.0334,Materials
323,Zebra Technologies Corporation Class A,ZBRA,0.054290,258.00,7.81,-0.0312,Financials
457,Zions Bancorporation N.A.,ZION,0.023082,34.88,1.21,-0.0359,Consumer Discretionary
90,Zoetis Inc. Class A,ZTS,0.250141,134.07,3.01,-0.023,Real Estate

In [93]:
# Q4 top 5 for each sector (rank by weight as company's market capitalization)
df_sort_weight = df_sort.sort_values(['Weight'])
df_top5 = df_sort_weight.groupby('Sector').head(5)
df_top5 = df_top5.sort_values(['Sector', 'Weight'])

In [94]:
df_top5

,Company,Symbol,Weight,Price,Chg,% Chg,Sector
474,Noble Energy Inc.,NBL,0.018479,10.23,0.67,-0.0701,Communication Services
472,Devon Energy Corporation,DVN,0.018995,12.80,0.60,-0.0492,Communication Services
452,Federal Realty Investment Trust,FRT,0.024535,90.47,2.82,-0.0322,Communication Services
444,Discovery Inc. Class C,DISCK,0.026955,19.83,-0.16,(-0.80%),Communication Services
430,Lincoln National Corporation,LNC,0.030542,40.68,2.25,-0.0585,Communication Services
500,Nordstrom Inc.,JWN,0.007236,17.63,0.48,-0.028,Consumer Discretionary
495,Unum Group,UNM,0.013464,17.08,1.01,-0.0629,Consumer Discretionary
492,Flowserve Corporation,FLS,0.013858,28.00,1.00,-0.037,Consumer Discretionary
466,Kimco Realty Corporation,KIM,0.020933,13.76,1.21,-0.0964,Consumer Discretionary
458,Mohawk Industries Inc.,MHK,0.023076,97.74,1.77,-0.0184,Consumer Discretionary
481,Hanesbrands Inc.,HBI,0.016290,11.72,0.52,-0.0464,Consumer Staples
480,News Corporation Class A,NWSA,0.017146,11.72,0.31,-0.0272,Consumer Staples
453,Robert Half International Inc.,RHI,0.024121,51.29,0.18,-0.0035,Consumer Staples
441,Carnival Corporation,CCL,0.027691,19.98,2.54,-0.1456,Consumer Staples
439,WestRock Company,WRK,0.028419,28.21,0.57,-0.0206,Consumer Staples
493,H&R Block Inc.,HRB,0.013597,17.87,0.50,-0.0288,Energy
467,People's United Financial Inc.,PBCT,0.020834,12.20,0.54,-0.0463,Energy
434,Snap-on Incorporated,SNA,0.029326,135.01,1.68,-0.0126,Energy
407,Raymond James Financial Inc.,RJF,0.034862,71.60,1.34,-0.0191,Energy
372,Cboe Global Markets Inc,CBOE,0.043341,99.90,2.90,-0.0299,Energy
503,News Corporation Class B,NWS,0.005665,11.75,0.31,-0.0271,Financials
494,Kohl's Corporation,KSS,0.013588,23.22,1.96,-0.0922,Financials
485,DXC Technology Co.,DXC,0.015163,16.27,1.50,-0.1016,Financials
478,Mosaic Company,MOS,0.017505,13.28,0.77,-0.0616,Financials
465,Quanta Services Inc.,PWR,0.020988,37.05,0.26,-0.0071,Financials
504,Coty Inc. Class A,COTY,0.005524,4.87,0.29,-0.0633,Health Care
502,Under Armour Inc. Class C,UA,0.006621,8.68,0.16,-0.0188,Health Care
487,Ralph Lauren Corporation Class A,RL,0.014801,74.77,0.74,-0.01,Health Care
483,PVH Corp.,PVH,0.015663,49.61,-3.11,(-5.90%),Health Care
473,Sealed Air Corporation,SEE,0.018926,30.58,0.38,-0.0126,Health Care
499,Alliance Data Systems Corporation,ADS,0.007826,52.09,4.52,-0.095,Industrials
482,SL Green Realty Corp.,SLG,0.016222,52.20,3.19,-0.0651,Industrials
479,Leggett & Platt Incorporated,LEG,0.017240,32.82,-0.40,(-1.20%),Industrials
471,Apache Corporation,APA,0.019197,13.81,1.02,-0.0797,Industrials
463,Comerica Incorporated,CMA,0.021839,39.14,1.44,-0.0382,Industrials
501,Under Armour Inc. Class A,UAA,0.006905,9.70,0.23,-0.0243,Information Technology
498,Gap Inc.,GPS,0.008765,10.54,0.40,-0.0394,Information Technology
497,Xerox Holdings Corporation,XRX,0.011971,17.06,1.00,-0.0623,Information Technology
489,Invesco Ltd.,IVZ,0.014691,10.34,0.52,-0.053,Information Technology
488,Harley-Davidson Inc.,HOG,0.014700,25.08,1.32,-0.0556,Information Technology
490,Discovery Inc. Class A,DISCA,0.014107,22.05,-0.29,(-1.30%),Materials
477,Alaska Air Group Inc.,ALK,0.017583,38.47,2.88,-0.0809,Materials
442,Molson Coors Beverage Company Class B,TAP,0.027454,38.05,1.50,-0.041,Materials
412,Pinnacle West Capital Corporation,PNW,0.033640,75.60,0.90,-0.012,Materials
409,NiSource Inc,NI,0.034377,23.26,0.14,-0.0061,Materials
491,L Brands Inc.,LB,0.013931,15.65,0.17,-0.011,Real Estate
486,Norwegian Cruise Line Holdings Ltd.,NCLH,0.014987,20.50,3.25,-0.1884,Real Estate
476,Fox Corporation Class B,FOX,0.017712,27.95,0.33,-0.0119,Real Estate
469,Howmet Aerospace Inc.,HWM,0.020186,14.00,1.02,-0.0786,Real Estate
455,Franklin Resources Inc.,BEN,0.023616,21.79,0.94,-0.0451,Real Estate
496,TechnipFMC Plc,FTI,0.012630,7.95,0.46,-0.0614,Utilities
484,Tapestry Inc.,TPR,0.015661,14.48,0.36,-0.0255,Utilities
417,F5 Networks Inc.,FFIV,0.032971,141.48,3.97,-0.0289,Utilities
410,NRG Energy Inc.,NRG,0.034315,33.68,-0.09,(-0.27%),Utilities
381,E*TRADE Financial Corporation,ETFC,0.041809,47.24,1.26,-0.0274,Utilities

# Q5

## 1
For Communication Services industry, as it is hard to find the exact average revenue per user (ARPU), we divide the revenue of first quarter of 2020 by current market capitalization to simulate the ARPU.

In [86]:
df_CommunicationServices = df_top5.loc[df_top5['Sector'] == 'Communication Services']

In [89]:
df_CommunicationServices['ARPU']=[1020/0.018479, 2087/0.018995, 232/0.024535, 2683/0.026955, 4425/0.030542]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
df_CommunicationServices.sort_values(['ARPU'],ascending=False)

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,ARPU
430,Lincoln National Corporation,LNC,0.030542,40.68,2.25,-0.0585,Communication Services,144882.456945
472,Devon Energy Corporation,DVN,0.018995,12.80,0.60,-0.0492,Communication Services,109871.018689
444,Discovery Inc. Class C,DISCK,0.026955,19.83,-0.16,(-0.80%),Communication Services,99536.264144
474,Noble Energy Inc.,NBL,0.018479,10.23,0.67,-0.0701,Communication Services,55197.792088
452,Federal Realty Investment Trust,FRT,0.024535,90.47,2.82,-0.0322,Communication Services,9455.879356

## 2
For Consumer Discretionary industry, as GDP is hard to find for each company, we used the rate above GDP growth rate to compare

In [95]:
df_ConsumerDiscretionary = df_top5.loc[df_top5['Sector'] == 'Consumer Discretionary']

In [97]:
df_ConsumerDiscretionary['GDP']=[-0.076, 0.07, 0.034,0.04,0.03]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
df_ConsumerDiscretionary.sort_values(['GDP'],ascending=False)

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,GDP
495,Unum Group,UNM,0.013464,17.08,1.01,-0.0629,Consumer Discretionary,0.070
466,Kimco Realty Corporation,KIM,0.020933,13.76,1.21,-0.0964,Consumer Discretionary,0.040
492,Flowserve Corporation,FLS,0.013858,28.00,1.00,-0.037,Consumer Discretionary,0.034
458,Mohawk Industries Inc.,MHK,0.023076,97.74,1.77,-0.0184,Consumer Discretionary,0.030
500,Nordstrom Inc.,JWN,0.007236,17.63,0.48,-0.028,Consumer Discretionary,-0.076

## 3
For Consumer Staples industry, as described in report, we can use market share as market capitalization to campare

In [99]:
df_ConsumerStaples = df_top5.loc[df_top5['Sector'] == 'Consumer Staples']

In [101]:
df_ConsumerStaples['Market Cap(in billions)']=[4.058, 6.897,5.913,14.08,7.33]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [102]:
df_ConsumerStaples.sort_values(['Market Cap(in billions)'],ascending=False)

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,Market Cap(in billions)
441,Carnival Corporation,CCL,0.027691,19.98,2.54,-0.1456,Consumer Staples,14.080
439,WestRock Company,WRK,0.028419,28.21,0.57,-0.0206,Consumer Staples,7.330
480,News Corporation Class A,NWSA,0.017146,11.72,0.31,-0.0272,Consumer Staples,6.897
453,Robert Half International Inc.,RHI,0.024121,51.29,0.18,-0.0035,Consumer Staples,5.913
481,Hanesbrands Inc.,HBI,0.016290,11.72,0.52,-0.0464,Consumer Staples,4.058

## 4
In Energy Industry, as descibed, we should use G3's economic indicator EC1, however, it can not be founded by google, so I just simply uses Enterprise Value to compare since it is important in energy field. I use Enterprise Value for the first quarter of 2020 in billions. For unkown values, we put them in the bottom but it does not mean they perform badly in reality

In [103]:
df_Energy = df_top5.loc[df_top5['Sector'] == 'Energy']

In [141]:
df_Energy['Enterprise Value']=[10.41,None,6.94, None, 6.34]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [142]:
df_Energy.sort_values(['Enterprise Value','Weight'],ascending=False)

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,Enterprise Value
493,H&R Block Inc.,HRB,0.013597,17.87,0.50,-0.0288,Energy,10.41
434,Snap-on Incorporated,SNA,0.029326,135.01,1.68,-0.0126,Energy,6.94
372,Cboe Global Markets Inc,CBOE,0.043341,99.90,2.90,-0.0299,Energy,6.34
407,Raymond James Financial Inc.,RJF,0.034862,71.60,1.34,-0.0191,Energy,NaN
467,People's United Financial Inc.,PBCT,0.020834,12.20,0.54,-0.0463,Energy,NaN

## 5
In Financials industry, as described in report, we use price-to-book (P/B) ratio to compare.

In [112]:
df_Financials = df_top5.loc[df_top5['Sector'] == 'Financials']

In [114]:
df_Financials['PB ratio']=[0.81,0.70,0.80,0.59,1.34]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [121]:
df_Financials.sort_values(['PB ratio'])

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,PB ratio
478,Mosaic Company,MOS,0.017505,13.28,0.77,-0.0616,Financials,0.59
494,Kohl's Corporation,KSS,0.013588,23.22,1.96,-0.0922,Financials,0.70
485,DXC Technology Co.,DXC,0.015163,16.27,1.50,-0.1016,Financials,0.80
503,News Corporation Class B,NWS,0.005665,11.75,0.31,-0.0271,Financials,0.81
465,Quanta Services Inc.,PWR,0.020988,37.05,0.26,-0.0071,Financials,1.34

If a company's P/B ratio is high compared to others in its industry, then the stock might be overvalued. If its P/B ratio is low compared to others in its industry, then it might be undervalued or the company may be performing poorly. Generally, Quanta Services Inc. perform poorer than others.

## 6
For Health Care industry,we use Days in Accounts Receivable to compare, as we compare the Average receivable collection period for 2020

In [116]:
df_HealthCare = df_top5.loc[df_top5['Sector'] == 'Health Care']

In [118]:
df_HealthCare['Average receivable collection period']=[48, 54, 21,32,25]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [119]:
df_HealthCare.sort_values(['Average receivable collection period'])

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,Average receivable collection period
487,Ralph Lauren Corporation Class A,RL,0.014801,74.77,0.74,-0.01,Health Care,21
473,Sealed Air Corporation,SEE,0.018926,30.58,0.38,-0.0126,Health Care,25
483,PVH Corp.,PVH,0.015663,49.61,-3.11,(-5.90%),Health Care,32
504,Coty Inc. Class A,COTY,0.005524,4.87,0.29,-0.0633,Health Care,48
502,Under Armour Inc. Class C,UA,0.006621,8.68,0.16,-0.0188,Health Care,54

## 7
For Industrials industry, we should compare Overall Equipment Effectiveness. Thus, income from continuous operations for first quarter of 2020 is the metric we should focus.

In [132]:
df_Industrials = df_top5.loc[df_top5['Sector'] == 'Industrials']

In [134]:
df_Industrials['income from continous operations'] = [30000,121205 ,45700,-4462000  ,-65000]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [135]:
df_Industrials.sort_values(['income from continous operations'],ascending=False)

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,income from continous operations
482,SL Green Realty Corp.,SLG,0.016222,52.20,3.19,-0.0651,Industrials,121205
479,Leggett & Platt Incorporated,LEG,0.017240,32.82,-0.40,(-1.20%),Industrials,45700
499,Alliance Data Systems Corporation,ADS,0.007826,52.09,4.52,-0.095,Industrials,30000
463,Comerica Incorporated,CMA,0.021839,39.14,1.44,-0.0382,Industrials,-65000
471,Apache Corporation,APA,0.019197,13.81,1.02,-0.0797,Industrials,-4462000

## 8
For Information Technology industry, as we cares about the company's tendency, or budget, so Capital Expenditure is the metric I chosen. I uses the Capital Expenditure for first quarter of 20202.

In [137]:
df_InformationTechnology = df_top5.loc[df_top5['Sector'] == 'Information Technology']

In [138]:
df_InformationTechnology['Capital Expenditure']=[-31498,-122000,-23000,-19200,-32928]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [140]:
df_InformationTechnology.sort_values(['Capital Expenditure'])

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,Capital Expenditure
498,Gap Inc.,GPS,0.008765,10.54,0.40,-0.0394,Information Technology,-122000
488,Harley-Davidson Inc.,HOG,0.014700,25.08,1.32,-0.0556,Information Technology,-32928
501,Under Armour Inc. Class A,UAA,0.006905,9.70,0.23,-0.0243,Information Technology,-31498
497,Xerox Holdings Corporation,XRX,0.011971,17.06,1.00,-0.0623,Information Technology,-23000
489,Invesco Ltd.,IVZ,0.014691,10.34,0.52,-0.053,Information Technology,-19200

## 9
For Materials industry, we cares about inventory like Carrying cost of inventory, however, it is hard to find this metrics online. So we uses debt/equity ratio instead, as company's financial leverage calculated by dividing its long-term debt by stockholders' equity for 2020.

In [126]:
df_Materials = df_top5.loc[df_top5['Sector'] == 'Materials']

In [128]:
df_Materials['debt/equity ratio']=[1.39,0.64,0.62,0.87,1.61]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [129]:
df_Materials.sort_values(['debt/equity ratio'])

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,debt/equity ratio
442,Molson Coors Beverage Company Class B,TAP,0.027454,38.05,1.50,-0.041,Materials,0.62
477,Alaska Air Group Inc.,ALK,0.017583,38.47,2.88,-0.0809,Materials,0.64
412,Pinnacle West Capital Corporation,PNW,0.033640,75.60,0.90,-0.012,Materials,0.87
490,Discovery Inc. Class A,DISCA,0.014107,22.05,-0.29,(-1.30%),Materials,1.39
409,NiSource Inc,NI,0.034377,23.26,0.14,-0.0061,Materials,1.61

## 10
For Real Estate industry, we uses Net operating income for first quarter of 2020(Millions of US $) to compare

In [122]:
df_RealEstate = df_top5.loc[df_top5['Sector'] == 'Real Estate']

In [124]:
df_RealEstate['Net operating income']=[-297,-1881, 314, 214,77]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [125]:
df_RealEstate.sort_values(['Net operating income'],ascending=False)

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,Net operating income
476,Fox Corporation Class B,FOX,0.017712,27.95,0.33,-0.0119,Real Estate,314
469,Howmet Aerospace Inc.,HWM,0.020186,14.00,1.02,-0.0786,Real Estate,214
455,Franklin Resources Inc.,BEN,0.023616,21.79,0.94,-0.0451,Real Estate,77
491,L Brands Inc.,LB,0.013931,15.65,0.17,-0.011,Real Estate,-297
486,Norwegian Cruise Line Holdings Ltd.,NCLH,0.014987,20.50,3.25,-0.1884,Real Estate,-1881

## 11
For Utilities industry, as Customer Satisfaction (CSAT) is hard to find, we use Net Promoter Score(NPS) instead. NPS is a customer loyalty metric that measures customers’ willingness to not only return for another purchase or service but also make a recommendation to their family, friends or colleagues, to rank the companies

In [77]:
df_utilities = df_top5.loc[df_top5['Sector'] == 'Utilities']

In [79]:
df_utilities['NPS']= [0.2, 3.3, 4,-2,-1]

/Users/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [82]:
df_utilities.sort_values(['NPS'],ascending=False)

,Company,Symbol,Weight,Price,Chg,% Chg,Sector,NPS
417,F5 Networks Inc.,FFIV,0.032971,141.48,3.97,-0.0289,Utilities,4.0
484,Tapestry Inc.,TPR,0.015661,14.48,0.36,-0.0255,Utilities,3.3
496,TechnipFMC Plc,FTI,0.012630,7.95,0.46,-0.0614,Utilities,0.2
381,E*TRADE Financial Corporation,ETFC,0.041809,47.24,1.26,-0.0274,Utilities,-1.0
410,NRG Energy Inc.,NRG,0.034315,33.68,-0.09,(-0.27%),Utilities,-2.0