In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:
import datetime as dt

In [0]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.25.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=fd918d1d6eadf73549a6fb64ff72806330b013440c334be75568a91b0c58643b
  Stored in directory: /root/.cache/pip/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54

In [0]:
import yfinance as yf

In [0]:
yf.pdr_override()

In [0]:
!pip install fire

Collecting fire
  Downloading https://files.pythonhosted.org/packages/d9/69/faeaae8687f4de0f5973694d02e9d6c3eb827636a009157352d98de1129e/fire-0.2.1.tar.gz (76kB)
     |████████████████████████████████| 81kB 2.6MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from fire) (1.12.0)
Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (from fire) (1.1.0)
Building wheels for collected packages: fire
  Building wheel for fire (setup.py) ... done
  Created wheel for fire: filename=fire-0.2.1-py2.py3-none-any.whl size=103528 sha256=95033c1887a012bfc0c87f41f07e46a55cd227cfa7d03140f9ddd820b831a8e3
  Stored in directory: /root/.cache/pip/wheels/31/9c/c0/07b6dc7faf1844bb4688f46b569efe6cafaa2179c95db821da
Successfully built fire
Installing collected packages: fire
Successfully installed fire-0.2.1

In [0]:
import fire

In [0]:
from pandas_datareader import data as pdr

In [0]:
!pip install fredapi

Collecting fredapi
  Downloading https://files.pythonhosted.org/packages/8e/46/c779a9389b39007ac154c1a66871bdb3a712b149fd5a82fb0b7f5267fe48/fredapi-0.4.2-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from fredapi) (0.25.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->fredapi) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->fredapi) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->fredapi) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->fredapi) (1.12.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.4.2

In [0]:
from fredapi import Fred

In [0]:
!pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/07/ab/8cd479fba8a9b197a43a0d55dd534b066fb8e5a0a04b5c0384cbc5d663aa/Quandl-3.5.0-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/d5/35/a6eb45b4e2356fe688b21570864d4aa0d0a880ce387defe9c589112077f8/inflection-0.3.1.tar.gz
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.1)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.2.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (0.25.3)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.21.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2019.11.28)
Building wheels for collected packages: inflection
  Building wheel for inflection (setup.py) ... done
  Created wheel for inflection: filename=inflection-0.3.1-cp36-none-any.whl size=6077 sha256=3e73db231f0aa91885b80417b0a2c6242130bab47b7a8f8944b85eb1a82218ea
  Stored in directory: /root/.cache/pip/wheels/9f/5a/d3/6fc3bf6516d2a3eb7e18f9f28b472110b59325f3f258fe9211
Successfully built inflection
Installing collected packages: inflection, quandl
Successfully installed inflection-0.3.1 quandl-3.5.0

In [0]:
import quandl

In [0]:
import csv

In [0]:
import os
!pwd
#print(os.getcwd() + "\n")

/content

In [0]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/My Drive"
# upload data frame from csv file
data = pd.read_csv('/content/drive/My Drive/market_data_2020-03-17.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
'Colab Notebooks'
'Copy of Copy of Ludbrook and Dudley (1998) Why Permutation Tests are Superior to t and F Tests in Biomedical Research.pdf'
'Copy of Ludbrook and Dudley (1998) Why Permutation Tests are Superior to t and F Tests in Biomedical Research.pdf'
'Getting started.pdf'
 IMG_7151.JPG
 IMG_7152.JPG
 IMG_7153.JPG
 IMG_7155.JPG
 market_data_2020-03-12.csv
 market_data_2020-03-17.csv
'Student Ambassador Application.pdf'
'求VPN step.gdoc'

In [0]:
data

             Date       open       high  ...  adj_close    volume  ticker
0      1999-11-18  32.546494  35.765381  ...  27.137552  62546300       A
1      1999-11-19  30.713520  30.758226  ...  24.901789  15234100       A
2      1999-11-22  29.551144  31.473534  ...  27.137552   6577800       A
3      1999-11-23  30.400572  31.205294  ...  24.670504   5975600       A
4      1999-11-24  28.701717  29.998211  ...  25.325811   4843200       A
...           ...        ...        ...  ...        ...       ...     ...
24350  2020-03-11  34.849998  35.070000  ...  34.520000  45296100       T
24351  2020-03-12  31.860001  33.430000  ...  31.330000  84215200       T
24352  2020-03-13  32.919998  34.610001  ...  34.470001  64688800       T
24353  2020-03-16  31.000000  33.889999  ...  31.809999  58748600       T
24354  2020-03-17  32.119999  34.000000  ...  33.935001  38047037       T

[24355 rows x 8 columns]

In [0]:
# select the first 5113 rows of the data
Data = data.head(5113)
print("First 5113 rows of the data about ticker A : ")
print(Data)
ticker = Data.iloc[:,[0,4]]
ticker

First 5113 rows of the data about ticker A :
            Date       open       high  ...  adj_close    volume  ticker
0     1999-11-18  32.546494  35.765381  ...  27.137552  62546300       A
1     1999-11-19  30.713520  30.758226  ...  24.901789  15234100       A
2     1999-11-22  29.551144  31.473534  ...  27.137552   6577800       A
3     1999-11-23  30.400572  31.205294  ...  24.670504   5975600       A
4     1999-11-24  28.701717  29.998211  ...  25.325811   4843200       A
...          ...        ...        ...  ...        ...       ...     ...
5108  2020-03-11  70.760002  71.730003  ...  68.839996   4985900       A
5109  2020-03-12  64.000000  67.139999  ...  63.419998   5055000       A
5110  2020-03-13  66.529999  69.510002  ...  69.199997   3261200       A
5111  2020-03-16  63.410000  66.620003  ...  64.129997   4742800       A
5112  2020-03-17  66.019997  68.260002  ...  67.855003   1731077       A

[5113 rows x 8 columns]

            Date      close
0     1999-11-18  31.473534
1     1999-11-19  28.880543
2     1999-11-22  31.473534
3     1999-11-23  28.612303
4     1999-11-24  29.372318
...          ...        ...
5108  2020-03-11  68.839996
5109  2020-03-12  63.419998
5110  2020-03-13  69.199997
5111  2020-03-16  64.129997
5112  2020-03-17  67.855003

[5113 rows x 2 columns]

In [0]:
df = pd.DataFrame(ticker)

In [0]:
df

            Date      close
0     1999-11-18  31.473534
1     1999-11-19  28.880543
2     1999-11-22  31.473534
3     1999-11-23  28.612303
4     1999-11-24  29.372318
...          ...        ...
5108  2020-03-11  68.839996
5109  2020-03-12  63.419998
5110  2020-03-13  69.199997
5111  2020-03-16  64.129997
5112  2020-03-17  67.855003

[5113 rows x 2 columns]

In [0]:
# calculate the 10-day moving average values of the each day's close price
for i in range(0,df.shape[0]-9):
  df['MA10'] = df.iloc[:,1].rolling(window=10).mean() # use the panda in-built rolling function 

df

            Date      close       MA10
0     1999-11-18  31.473534        NaN
1     1999-11-19  28.880543        NaN
2     1999-11-22  31.473534        NaN
3     1999-11-23  28.612303        NaN
4     1999-11-24  29.372318        NaN
...          ...        ...        ...
5108  2020-03-11  68.839996  77.266000
5109  2020-03-12  63.419998  75.864999
5110  2020-03-13  69.199997  75.077999
5111  2020-03-16  64.129997  73.293999
5112  2020-03-17  67.855003  72.047499

[5113 rows x 3 columns]

In [0]:
df["Select"] = np.nan
df

            Date      close       MA10  Select
0     1999-11-18  31.473534        NaN     NaN
1     1999-11-19  28.880543        NaN     NaN
2     1999-11-22  31.473534        NaN     NaN
3     1999-11-23  28.612303        NaN     NaN
4     1999-11-24  29.372318        NaN     NaN
...          ...        ...        ...     ...
5108  2020-03-11  68.839996  77.266000     NaN
5109  2020-03-12  63.419998  75.864999     NaN
5110  2020-03-13  69.199997  75.077999     NaN
5111  2020-03-16  64.129997  73.293999     NaN
5112  2020-03-17  67.855003  72.047499     NaN

[5113 rows x 4 columns]

In [0]:
 # compare that day's close price with that day's MA10
 for row in range(df.shape[0]):
   if df.iloc[row]['close'] > df.iloc[row]['MA10']:
     df.Select = '1'
   else:
     df.Select = '0'
 
 df

            Date      close       MA10 Select
0     1999-11-18  31.473534        NaN      0
1     1999-11-19  28.880543        NaN      0
2     1999-11-22  31.473534        NaN      0
3     1999-11-23  28.612303        NaN      0
4     1999-11-24  29.372318        NaN      0
...          ...        ...        ...    ...
5108  2020-03-11  68.839996  77.266000      0
5109  2020-03-12  63.419998  75.864999      0
5110  2020-03-13  69.199997  75.077999      0
5111  2020-03-16  64.129997  73.293999      0
5112  2020-03-17  67.855003  72.047499      0

[5113 rows x 4 columns]

In [0]:
# calculate the sum of each value in Select column
len(df[df['Select'] == '1'])
#print df[df.Select == '1'].shape[0]

0