In [1]:
import pandas as pd
import numpy as np
import requests
import json
import time
from pandas_datareader import data
from yahoo_market_data import Quote

In [2]:
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]

In [3]:
sector = ['Industrials','Health Care','Information Technology','Communication Services','Consumer Discretionary','Utilities','Financials','Materials','Consumer Staples','Real Estate','Energy']
symbol = list(df['Symbol'])
mktcal = []
for i in range(len(symbol)):
    try:
        mktcal.append(data.get_quote_yahoo(symbol[i])['marketCap'][0])
    except:
        mktcal.append(0)
df['mktcal'] = mktcal
df.head(5)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902,90725670912
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,158400528384
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),164039540736
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981,11074257920
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,127451422720

In [4]:
def sortindustry(industry):
    industry.sort_values(by = 'mktcal',axis = 0,ascending = False)
    return industry.head(5)

In [5]:
def getFinancialMetrics(quote,sector):
    #fr = requests.get(f"https://financialmodelingprep.com/api/v3/key-metrics/{quote}?apikey=62ff5d699f9c24b1196899cb08e2219f")
    #fr = fr.json()
    fr = requests.get(f'https://fmpcloud.io/api/v3/key-metrics/{quote}?apikey=2be675c9d77b598797816f060b897ebe')
    fr = fr.json()
    if sector == 'Industrials' : 
        metrics = fr[0]['inventoryTurnover']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Health Care' : 
        metrics = fr[0]['evToSales']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Information Technology' : 
        metrics = fr[0]['debtToEquity']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Communication Services' : 
        metrics = fr[0]['evToSales']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Consumer Discretionary' : 
        metrics = fr[0]['inventoryTurnover']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Utilities' : 
        metrics = fr[0]['evToSales']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Financials' : 
        metrics = fr[0]['incomeQuality']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Materials' : 
        metrics = fr[0]['evToSales']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Consumer Staples': 
        metrics = fr[0]['inventoryTurnover']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    elif sector == 'Real Estate' : 
        metrics = fr[0]['evToSales']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    else : 
        metrics = fr[0]['inventoryTurnover']
        #metrics = pd.DataFrame(list(metrics.items()),columns=['metrics', quote])
    
    return metrics

In [26]:
Industrials = sortindustry(df.loc[df['GICS Sector'] == sector[0]])#固定资产高Operating Cash Flow per Share
x = []
for item in Industrials['Symbol']:
    y = getFinancialMetrics(item,'Industrials')
    x.append(y)
Industrials['inventoryTurnover']  = x
Industrials.sort_values(by = 'inventoryTurnover',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,inventoryTurnover
14,ALK,Alaska Air Group Inc,reports,Industrials,Airlines,"Seattle, Washington",2016-05-13,766421,1985,4630035456,88.430556
19,ALLE,Allegion,reports,Industrials,Building Products,"Dublin, Ireland",2013-12-02,1579241,1908,9466403840,5.934420
37,AME,AMETEK Inc.,reports,Industrials,Electrical Components & Equipment,"Berwyn, Pennsylvania",2013-09-23,1037868,1930,20254257152,5.397174
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902,90725670912,4.145138
29,AAL,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934,7062330368,4.065910

In [23]:
Health_Care = sortindustry(df.loc[df['GICS Sector'] == sector[1]])#资产周转慢，偿债能力强，盈利能力强Debt to Assets
x = []
for item in Health_Care ['Symbol'][0:5]:
    y = getFinancialMetrics(item,'Health Care')
    x.append(y)
Health_Care ['evToSales']  = x

In [25]:
Health_Care.sort_values(by = 'evToSales',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,evToSales
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981,11074257920,10.141847
11,A,Agilent Technologies Inc,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999,26851246080,4.883165
17,ALXN,Alexion Pharmaceuticals,reports,Health Care,Biotechnology,"Boston, Massachusetts",2012-05-25,899866,1992,24388134912,4.448550
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),164039540736,4.446588
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,158400528384,0.441261

In [29]:
Information_Technology = sortindustry(df.loc[df['GICS Sector'] == sector[2]])#债务融资低Debt to Equities
x = []
for item in Information_Technology['Symbol'][0:5]:
    y = getFinancialMetrics(item,'Information Technology')
    x.append(y)
Information_Technology['debtToEquity']  = x
Information_Technology.sort_values(by = 'debtToEquity',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,debtToEquity
20,ADS,Alliance Data Systems,reports,Information Technology,Data Processing & Outsourced Services,"Plano, Texas",2013-12-23,1101215,1996,2422360064,15.681232
7,AMD,Advanced Micro Devices Inc,reports,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488,1969,64040669184,1.132296
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,127451422720,1.067448
6,ADBE,Adobe Inc.,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982,193366016000,0.971709
13,AKAM,Akamai Technologies Inc,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,1086222,1998,16315028480,0.915518

In [30]:
Communication_Services = sortindustry(df.loc[df['GICS Sector'] == sector[3]])#EV to Sales
x = []
for item in Communication_Services['Symbol'][0:5]:
    y = getFinancialMetrics(item,'Communication Services')
    x.append(y)
Communication_Services['evToSales']  = x
Communication_Services.sort_values(by = 'evToSales',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,evToSales
5,ATVI,Activision Blizzard,reports,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008,56391798784,6.726249
24,GOOG,Alphabet Inc. (Class C),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,1652044,1998,969127165952,3.034195
23,GOOGL,Alphabet Inc. (Class A),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998,969913597952,3.030789
54,T,AT&T Inc.,reports,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30 (1957-03-04),732717,1983 (1885),217312509952,2.345384
96,CTL,CenturyLink Inc,reports,Communication Services,Alternative Carriers,"Monroe, Louisiana",1999-03-25,18926,NaN,11139624960,2.137208

In [31]:
Consumer_Discretionary = sortindustry(df.loc[df['GICS Sector'] == sector[4]])#较高的资金，存货以及较低的应收账款Price to Sales Ratio
x = []
for item in Consumer_Discretionary['Symbol'][0:5]:
    y = getFinancialMetrics(item,'Consumer Discretionary')
    x.append(y)
Consumer_Discretionary['inventoryTurnover']  = x
Consumer_Discretionary.sort_values(by = 'inventoryTurnover',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,inventoryTurnover
49,APTV,Aptiv PLC,reports,Consumer Discretionary,Auto Parts & Equipment,"Dublin, Ireland",2012-12-24,1521332,1994,19255881728,9.106532
26,AMZN,Amazon.com Inc.,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724,1994,1283190947840,8.076109
68,BBY,Best Buy Co. Inc.,reports,Consumer Discretionary,Computer & Electronics Retail,"Richfield, Minnesota",1999-06-29,764478,NaN,20667303936,6.492076
58,AZO,AutoZone Inc,reports,Consumer Discretionary,Specialty Stores,"Memphis, Tennessee",1997-01-02,866787,NaN,26118473728,1.273118
8,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932,9525601280,1.230607

In [32]:
Utilities = sortindustry(df.loc[df['GICS Sector'] == sector[5]])#毛利率低，销售利润低，商品周转高Current ratio
x = []
for item in Utilities['Symbol'][0:5]:
    y = getFinancialMetrics(item,'Utilities')
    x.append(y)
Utilities['evToSales']  = x
Utilities.sort_values(by = 'evToSales',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,evToSales
30,AEP,American Electric Power,reports,Utilities,Electric Utilities,"Columbus, Ohio",NaN,4904,1906,40518868992,5041.598301
34,AWK,American Water Works Company Inc,reports,Utilities,Water Utilities,"Camden, New Jersey",2016-03-04,1410636,1886,23391793152,9.241654
28,AEE,Ameren Corp,reports,Utilities,Multi-Utilities,"St. Louis, Missouri",1991-09-19,1002910,1902,17860093952,4.984034
21,LNT,Alliant Energy Corp,reports,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,352541,1917,12205734912,2.809957
9,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981,8564002304,1.214105

In [33]:
Financials = sortindustry(df.loc[df['GICS Sector'] == sector[6]])#非流动资产和负债高Income Quality
x = []
for item in Financials['Symbol'][0:5]:
    y = getFinancialMetrics(item,'Financials')
    x.append(y)
Financials['incomeQuality']  = x
Financials.sort_values(by = 'incomeQuality',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,incomeQuality
31,AXP,American Express Co,reports,Financials,Consumer Finance,"New York, New York",1976-06-30,4962,1850,83676839936,2.016866
35,AMP,Ameriprise Financial,reports,Financials,Asset Management & Custody Banks,"Minneapolis, Minnesota",2005-10-03,820027,1894,18372569088,1.236661
22,ALL,Allstate Corp,reports,Financials,Property & Casualty Insurance,"Northfield Township, Illinois",1995-07-13,899051,1931,30729969664,1.058180
32,AIG,American International Group,reports,Financials,Property & Casualty Insurance,"New York, New York",1980-03-31,5272,1919,28586248192,-0.222595
10,AFL,AFLAC Inc,reports,Financials,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955,26633895936,-79.057971

In [34]:
Materials = sortindustry(df.loc[df['GICS Sector'] == sector[7]])#EV to Operating cash flow
x = []
for item in Materials['Symbol'][00:5]:
    y = getFinancialMetrics(item,'Materials')
    x.append(y)
Materials['evToSales']  = x
Materials.sort_values(by = 'evToSales',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,evToSales
12,APD,Air Products & Chemicals Inc,reports,Materials,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969,1940,52344844288,5.431681
15,ALB,Albemarle Corp,reports,Materials,Specialty Chemicals,"Charlotte, North Carolina",2016-07-01,915913,1994,8123835392,3.063360
62,BLL,Ball Corp,reports,Materials,Metal & Glass Containers,"Broomfield, Colorado",1984-10-31,9389,NaN,22233333760,2.210699
27,AMCR,Amcor plc,reports,Materials,Paper Packaging,"Warmley, Bristol, United Kingdom",2019-06-07,1748790,2019 (1860),16059287552,1.822311
60,AVY,Avery Dennison Corp,reports,Materials,Paper Packaging,"Glendale, California",1987-12-31,8818,NaN,9627436032,1.757310

In [63]:
Consumer_Staples = df.loc[df['GICS Sector'] == sector[8]].sort_values(by = 'mktcal',axis = 0,ascending = False).head(5)#较高的资金，存货以及较低的应收账款Price to Sales Ratio
x = []
for item in Consumer_Staples['Symbol'][0:5]:
    try:
        y = getFinancialMetrics(item,'Consumer Staples')
        x.append(y)
    except:
        x.append(np.nan)
Consumer_Staples['inventoryTurnover']  = x
Consumer_Staples.sort_values(by = 'inventoryTurnover',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,inventoryTurnover
129,COST,Costco Wholesale Corp.,reports,Consumer Staples,Hypermarkets & Super Centers,"Issaquah, Washington",1993-10-01,909832,NaN,131212099584,11.661781
370,PEP,PepsiCo Inc.,reports,Consumer Staples,Soft Drinks,"Purchase, New York",NaN,77476,1898,181941305344,9.026962
479,WMT,Walmart,reports,Consumer Staples,Hypermarkets & Super Centers,"Bentonville, Arkansas",1982-08-31,104169,NaN,334396686336,8.880500
382,PG,Procter & Gamble,reports,Consumer Staples,Personal Products,"Cincinnati, Ohio",NaN,80424,1837,288882458624,6.930038
115,KO,Coca-Cola Company,reports,Consumer Staples,Soft Drinks,"Atlanta, Georgia",NaN,21344,1886,198853410816,4.326428

In [10]:
Real_Estate = sortindustry(df.loc[df['GICS Sector'] == sector[9]])#高存货和预售撞款EV to Sales
x = []
for item in Real_Estate['Symbol'][0:5]:
        y = getFinancialMetrics(item,'Real Estate')
        x.append(y)

Real_Estate['evToSales']  = x
Real_Estate.sort_values(by = 'evToSales',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,evToSales
33,AMT,American Tower Corp.,reports,Real Estate,Specialized REITs,"Boston, Massachusetts",2007-11-19,1053507,1995,116363386880,16.699554
16,ARE,Alexandria Real Estate Equities,reports,Real Estate,Office REITs,"Pasadena, California",2017-03-20,1035443,1994,20870129664,16.126053
46,AIV,Apartment Investment & Management,reports,Real Estate,Residential REITs,"Denver, Colorado",2003-03-14,922864,1994 (1975),5826536960,13.662842
59,AVB,AvalonBay Communities,reports,Real Estate,Residential REITs,"Arlington, Virginia[3]",2007-01-10,915912,NaN,22616881152,13.427175
74,BXP,Boston Properties,reports,Real Estate,Office REITs,"Boston, Massachusetts",2006-04-03,1037540,NaN,14752285696,8.266636

In [42]:
Energy = sortindustry(df.loc[df['GICS Sector'] == sector[10]])#高固定资产Tangible Book Value per Share
x = []
for item in Energy['Symbol'][0:5]:
    y = getFinancialMetrics(item,'Energy')
    x.append(y)
Energy['inventoryTurnover']  = x
Energy.sort_values(by = 'inventoryTurnover',axis = 0,ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal,inventoryTurnover
121,CXO,Concho Resources,reports,Energy,Oil & Gas Exploration & Production,"Midland, Texas",2016-02-22,1358071,NaN,11217914880,23.866667
101,CVX,Chevron Corp.,reports,Energy,Integrated Oil & Gas,"San Ramon, California",NaN,93410,1879,170324590592,13.699213
61,BKR,Baker Hughes Co,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",2017-07-07,1701605,2017,16880721920,2.560330
81,COG,Cabot Oil & Gas,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",2008-06-23,858470,NaN,7732374016,0.000000
45,APA,Apache Corporation,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,6769,1954,5314158080,NaN

In [62]:
Consumer_Staples = df.loc[df['GICS Sector'] == sector[8]].sort_values(by = 'mktcal',axis = 0,ascending = False).head(5)
Consumer_Staples

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded,mktcal
479,WMT,Walmart,reports,Consumer Staples,Hypermarkets & Super Centers,"Bentonville, Arkansas",1982-08-31,104169,NaN,334396686336
382,PG,Procter & Gamble,reports,Consumer Staples,Personal Products,"Cincinnati, Ohio",NaN,80424,1837,288882458624
115,KO,Coca-Cola Company,reports,Consumer Staples,Soft Drinks,"Atlanta, Georgia",NaN,21344,1886,198853410816
370,PEP,PepsiCo Inc.,reports,Consumer Staples,Soft Drinks,"Purchase, New York",NaN,77476,1898,181941305344
129,COST,Costco Wholesale Corp.,reports,Consumer Staples,Hypermarkets & Super Centers,"Issaquah, Washington",1993-10-01,909832,NaN,131212099584