In [1]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print ((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [4]:
for i in range(4):
    print (i)

0
1
2
3

In [7]:
x = 256
total = 0
while x>0:
    if total > 500:
        break
    total += x
    x = x//2
    print ("total:", total)
    print ("x:", x)

total: 256
x: 128
total: 384
x: 64
total: 448
x: 32
total: 480
x: 16
total: 496
x: 8
total: 504
x: 4

- Compare "append" and "extend"

In [23]:
all_data = [['Joheeeen', 'Emeeeeily', 'Michael', 
             'Mary', 'Steven'],
            ['Maria', 'Emily', 'Javier', 
             'Natalia', 'Pilar']]
names_of_interest = []

for names in all_data:
    enough_es = [name for name in names if name.count('e')>2]
    names_of_interest.append(enough_es)

In [25]:
names_of_interest

[['Joheeeen', 'Emeeeeily'], []]

In [27]:
all_data = [['Joheeeen', 'Emeeeeily', 'Michael', 
             'Mary', 'Steven'],
            ['Maria', 'Emily', 'Javier', 
             'Natalia', 'Pilar']]
names_of_interest = []

for names in all_data:
    enough_es = [name for name in names if name.count('e')>2]
    names_of_interest.extend(enough_es)

In [28]:
# As we can see, the main difference between 
names_of_interest

['Joheeeen', 'Emeeeeily']