In [3]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")

%matplotlib inline

# 1. Call Yahoo Finance API

In [4]:
import fix_yahoo_finance as yf

def get_yahoo_data(symbol_list, start_str, end_str):
    """
    Documentation: start/end_str is of the format of, e.g. "2017-09-15"
    """
    import_ = yf.download(symbol_list, start = start_str, end = end_str)
    df = import_.to_frame().unstack()
    return df

In [6]:
test_list = get_yahoo_data(['ABB', 'CMCSA', 'CS', 'HAL'], '2010-01-01', '2019-03-21')

[*********************100%***********************]  4 of 4 downloaded

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [7]:
import_ = yf.download(['ABB', 'CMCSA', 'CS', 'HAL'], start = '2010-01-01', end = '2019-03-21')

[*********************100%***********************]  4 of 4 downloaded

In [29]:
import_.head(3)

                 Open                                    High         \
                  ABB  CMCSA         CS        HAL        ABB  CMCSA
Date
2009-12-31  19.290001  8.530  48.408203  30.309999  19.420000  8.575
2010-01-04  19.590000  8.375  49.902344  30.719999  19.709999  8.565
2010-01-05  19.600000  8.465  51.250000  31.280001  19.799999  8.490

                                    Low           ...         Close         \
                   CS    HAL        ABB  CMCSA    ...            CS    HAL
Date                                              ...
2009-12-31  48.730469  30.52  19.100000  8.430    ...     48.007813  30.09
2010-01-04  51.035156  31.34  19.510000  8.375    ...     50.771484  31.25
2010-01-05  51.318359  31.83  19.540001  8.275    ...     51.191406  31.65

            Adj Close                                   Volume            \
                  ABB     CMCSA         CS        HAL      ABB     CMCSA
Date
2009-12-31  14.166453  6.216340  34.214092  26.293697  1518000  16245600
2010-01-04  14.566971  6.327832  36.183693  27.307341  1847200  27146800
2010-01-05  14.663393  6.242068  36.482964  27.656870  2881700  35493000


                CS       HAL
Date
2009-12-31  203900   7678700
2010-01-04  734200  11571600
2010-01-05  447700  18989700

[3 rows x 24 columns]

# 2. Plot Correlation Heatmaps

## 2.1 Process data

In [18]:
stacked = import_.stack().reset_index()

In [20]:
stacked.columns

Index(['Date', 'level_1', 'Adj Close', 'Close', 'High', 'Low', 'Open',
       'Volume'],
      dtype='object')

In [23]:
stacked.columns = ['date', 'tickers', 'close', 'close2', 'high', 'low', 'open','volume']

In [25]:
stacked_ = stacked[['date', 'tickers', 'open', 'high', 'low', 'close', 'volume']]

In [28]:
stacked_open = stacked_[['date', 'tickers', 'open']]

In [31]:
pd.pivot_table?

In [33]:
stacked_open_pvt = pd.pivot_table(stacked_open, values = 'open', index = 'date', columns = 'tickers')

In [35]:
stacked_open_pvt_pctchg = stacked_open_pvt.pct_change()

## 2.2 Generate correlation matrix and plot heatmaps

In [37]:
stacked_open_pvt_pctchg.corr()

tickers       ABB     CMCSA        CS       HAL
tickers
ABB      1.000000  0.416404  0.609883  0.482867
CMCSA    0.416404  1.000000  0.385370  0.354558
CS       0.609883  0.385370  1.000000  0.414827
HAL      0.482867  0.354558  0.414827  1.000000