In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data
from datetime import date
from yahoo_fin.stock_info import get_analysts_info
from yahoo_fin.stock_info import *
import os

/Users/miaoyuesun/anaconda3/envs/py36/lib/python3.6/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

# Get Top5 Function

    We use GetTop5 Function to select 5 top companies in each sector, based on Market Capitalization. This function return the quote table of the top5 companies.
    
   1. We get tickers from [List of S&P 500 companies](https://en.wikipedia.org/wiki/List_of_S%26P_500_companies)  (Wikipedia)
   2. Since we cannot get quote table and stats data of 'BF.B', 'BRK.B', we directly delete them from the list of tickers.

In [2]:
def getTop5(sector):
    payload=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    first_table = payload[0]
    second_table = payload[1]

    df=first_table
    df.index=df.Symbol
    df=df.drop(index=['BF.B','BRK.B'])

    sector_df = df[df['GICS Sector'] == sector]
    sector_tickers = sector_df['Symbol'].values.tolist()
    sector_datas=data.get_quote_yahoo(sector_tickers)
    
    sector_datas.sort_values("marketCap",inplace = True, ascending=False)
    Top5=sector_datas.head(5)
    Top5_sector_tickers=Top5.index
    
    return Top5

In [6]:
data.get_quote_yahoo(['AAPL','BA'])

,language,region,quoteType,quoteSourceName,triggerable,currency,regularMarketChange,regularMarketChangePercent,tradeable,exchange,...,twoHundredDayAverageChange,twoHundredDayAverageChangePercent,marketCap,forwardPE,priceToBook,sourceInterval,exchangeDataDelayedBy,marketState,displayName,price
AAPL,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,1.450012,0.411842,False,NMS,...,59.49176,0.202327,1532315566080,23.790714,19.492199,15,0,REGULAR,Apple,353.5300
BA,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,-5.380112,-2.720388,False,NYQ,...,-42.38585,-0.180538,108570427392,29.598446,-11.233134,15,0,REGULAR,Boeing,192.3899

In [7]:
data

# Rank Top5 Function
    We use Rank_Top5 fuction to rank these 5 top companies in their own industry sector respectively based on 
    their most important financial metrics. This Function return the financial metrics which was used as the 
    basis for ranking. 
    
    1. We use bfill method to fill NaN.
    2. We use Current quater's financial metrics to rank companies, with descending order.
    3. The result cover current quarter's data and 5 quater's historical data.

In [10]:
def Rank_Top5(Top5_tickers, metrics):

    df1= pd.DataFrame()
    #Top5_tickers=Top5.index

    for i in np.arange(0,5,1):
        stats=get_stats_valuation(Top5_tickers[i])
        stats.index=['Market Cap', 'EV', 'Trailing P/E', 'Forward P/E', 'PEG', 'P/S', 'P/B', 'EV/Revenue', 'EV/EBITDA' ]
        data=stats.loc[metrics,:]
        data=pd.DataFrame(data)

        df1=pd.concat([data, df1], axis=1)

    df1.columns=([Top5_tickers[4],Top5_tickers[3],Top5_tickers[2],Top5_tickers[1],Top5_tickers[0]])
    df1=df1.drop(index='Unnamed: 0')
    df1=df1.fillna(method='bfill')
    df1=df1.T
    new_columns=df1.columns.values
    new_columns[0]='Current'
    df1.columns=new_columns
    
    df1=pd.DataFrame(df1,dtype=np.float)
    df1.sort_values(by='Current', inplace=True, ascending=True)
    return df1, data

# Sector1 Energy

In [9]:
Top5_E=getTop5('Energy')
Top5_E

,language,region,quoteType,quoteSourceName,triggerable,currency,tradeable,marketState,exchange,shortName,...,marketCap,forwardPE,priceToBook,sourceInterval,exchangeDataDelayedBy,firstTradeDateMilliseconds,priceHint,displayName,price,trailingPE
XOM,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,False,REGULAR,NYQ,Exxon Mobil Corporation,...,200278278144,33.339650,1.099373,15,0,-252322200000,2,Exxon Mobil,47.3423,17.764465
CVX,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,False,REGULAR,NYQ,Chevron Corporation,...,172985024512,42.698154,1.201876,15,0,-252322200000,2,Chevron,92.6550,45.087590
COP,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,False,REGULAR,NYQ,ConocoPhillips,...,47830376448,222.999980,1.527397,15,0,378657000000,2,ConocoPhillips,44.6000,13.647490
KMI,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,False,REGULAR,NYQ,"Kinder Morgan, Inc.",...,35889844224,17.250000,1.084091,15,0,1297434600000,2,Kinder Morgan,15.8700,27.314976
PSX,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,False,REGULAR,NYQ,Phillips 66,...,32523556864,11.336378,1.521770,15,0,1334237400000,2,Phillips 66,74.4800,90.060460

In [11]:
Ranked_E=Rank_Top5(Top5_E.index, 'EV/EBITDA')
Ranked_E

NameError: name 'get_stats_valuation' is not defined

# Sector2 Materials

In [6]:
Top5_M=getTop5('Materials')
Top5_M

,language,region,quoteType,quoteSourceName,triggerable,currency,exchange,shortName,longName,messageBoardId,...,ask,bidSize,askSize,fullExchangeName,financialCurrency,regularMarketOpen,averageDailyVolume3Month,averageDailyVolume10Day,displayName,price
LIN,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,Linde plc,Linde plc,finmb_318049,...,204.99,8,10,NYSE,USD,204.59,2473788,2476285,Linde,201.94
ECL,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,Ecolab Inc.,Ecolab Inc.,finmb_268799,...,208.33,8,13,NYSE,USD,208.58,4384833,6157300,Ecolab,204.06
APD,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,"Air Products and Chemicals, Inc","Air Products and Chemicals, Inc.",finmb_248356,...,234.82,8,8,NYSE,USD,238.88,1301131,1029642,Air Products & Chemicals,235.04
SHW,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,Sherwin-Williams Company (The),The Sherwin-Williams Company,finmb_303104,...,597.80,8,8,NYSE,USD,560.20,712412,685257,Sherwin-Williams,547.62
NEM,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,NYQ,Newmont Corporation,Newmont Corporation,finmb_291795,...,55.70,8,11,NYSE,USD,56.88,9502696,11671814,Newmont,55.45

In [7]:
Ranked_M=Rank_Top5(Top5_M.index, 'P/B')
Ranked_M

     Current  3/31/2020  12/31/2019  9/30/2019  6/30/2019  3/31/2019
NEM     2.06       1.70        1.64       1.61       3.00       1.82
LIN     2.34       1.85        2.32       2.06       2.12       1.85
APD     4.53       3.81        4.69       4.29       4.47       3.86
ECL     6.53       5.19        6.50       6.94       6.91       6.36
SHW    15.08      10.12       13.37      13.54      12.22      10.66

# Sector3 Industrial

In [8]:
Top5_I=getTop5('Industrials')
Top5_I

,language,region,quoteType,quoteSourceName,triggerable,currency,earningsTimestamp,earningsTimestampStart,earningsTimestampEnd,trailingAnnualDividendRate,...,fiftyTwoWeekLowChange,fiftyTwoWeekLowChangePercent,fiftyTwoWeekRange,fiftyTwoWeekHighChange,fiftyTwoWeekHighChangePercent,fiftyTwoWeekLow,fiftyTwoWeekHigh,dividendDate,displayName,price
UNP,en-US,US,EQUITY,Delayed Quote,True,USD,1587643210,1594917000,1595262600,3.79,...,61.099990,0.581462,105.08 - 188.96,-22.780014,-0.120555,105.080000,188.96000,1.593475e+09,Union Pacific,166.18
LMT,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,1587468610,1595349000,1595867400,9.20,...,115.760010,0.435008,266.11 - 442.53,-60.660004,-0.137075,266.110000,442.53000,1.593130e+09,Lockheed Martin,381.87
BA,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,1588159804,1595435400,1595867400,8.22,...,100.509995,1.129326,89.0 - 391.0,-201.490000,-0.515320,89.000000,391.00000,1.583453e+09,Boeing,189.51
HON,en-US,US,EQUITY,Delayed Quote,True,USD,1588329007,1594917000,1595262600,3.44,...,43.429993,0.429660,101.08 - 184.06,-39.550003,-0.214876,101.080000,184.06000,1.591315e+09,Honeywell,144.51
RTX,en-US,US,EQUITY,Delayed Quote,True,USD,1588848906,1595349000,1596213000,NaN,...,21.933880,0.504969,43.436123 - 99.71051,-34.340508,-0.344402,43.436123,99.71051,1.599696e+09,NaN,65.37

In [9]:
Ranked_I=Rank_Top5(Top5_I.index, 'Trailing P/E')
Ranked_I

,Current,3/31/2020,12/31/2019,9/30/2019,6/30/2019,3/31/2019,As of Date: 6/14/2020Current
RTX,14.39,14.72,25.51,22.45,20.22,19.83,NaN
LMT,15.44,15.44,18.51,19.01,18.59,17.06,17.42
HON,15.91,15.91,20.68,17.94,19.38,17.70,16.49
UNP,16.83,16.83,21.32,19.26,20.72,21.14,18.99
BA,49.66,49.66,49.66,44.40,20.86,21.37,NaN

# Sector4 Consumer Discretionary

In [10]:
Top5_CD=getTop5('Consumer Discretionary')
Top5_CD

,language,region,quoteType,quoteSourceName,triggerable,currency,gmtOffSetMilliseconds,market,esgPopulated,exchange,...,earningsTimestampStart,earningsTimestampEnd,trailingAnnualDividendRate,trailingPE,trailingAnnualDividendYield,epsTrailingTwelveMonths,epsForward,marketState,displayName,price
AMZN,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,-14400000,us_market,False,NMS,...,1595516340,1595865600,NaN,121.561900,NaN,20.936,37.56,CLOSED,Amazon,2545.02
HD,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NYQ,...,1597768200,1597768200,5.72,24.076466,0.023886,10.070,11.02,CLOSED,Home Depot,242.45
NKE,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NYQ,...,1593140400,1593140400,0.93,35.596160,0.009772,2.709,2.67,CLOSED,Nike,96.43
MCD,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,-14400000,us_market,False,NYQ,...,1595608200,1595953800,4.82,24.760471,0.025705,7.640,7.88,CLOSED,McDonald's,189.17
LOW,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,-14400000,us_market,False,NYQ,...,1597854600,1597854600,2.20,21.234838,0.017751,5.936,7.18,CLOSED,Lowe's Companies,126.05

In [11]:
Ranked_I=Rank_Top5(Top5_CD.index, 'P/S')
Ranked_I

,Current,4/30/2020,1/31/2020,10/31/2019,7/31/2019,4/30/2019,3/31/2020,12/31/2019,9/30/2019,6/30/2019,3/31/2019,As of Date: 6/13/2020Current,2/29/2020,11/30/2019,8/31/2019,5/31/2019
LOW,1.28,1.13,1.28,1.24,1.14,1.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HD,2.33,2.19,2.27,2.38,2.20,2.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NKE,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.51,3.78,3.5,3.24
AMZN,4.36,3.50,3.50,3.50,3.50,3.50,3.50,3.50,3.46,3.93,3.82,NaN,NaN,NaN,NaN,NaN
MCD,6.86,6.00,6.00,6.00,6.00,6.00,6.00,7.29,7.98,7.76,7.10,NaN,NaN,NaN,NaN,NaN

# Sector5 Consumer Staples

In [12]:
Top5_CS=getTop5('Consumer Staples')
Top5_CS

,language,region,quoteType,quoteSourceName,triggerable,currency,gmtOffSetMilliseconds,market,esgPopulated,exchange,...,earningsTimestampStart,earningsTimestampEnd,trailingAnnualDividendRate,trailingAnnualDividendYield,epsTrailingTwelveMonths,epsForward,marketState,displayName,price,trailingPE
WMT,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NYQ,...,1597748400,1597748400,2.130,0.017737,5.259,5.42,CLOSED,Walmart,117.74,22.388287
PG,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NYQ,...,1596126600,1596126600,2.984,0.025667,1.856,5.20,CLOSED,Procter & Gamble,115.62,62.295260
KO,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,-14400000,us_market,False,NYQ,...,1595349000,1595867400,1.610,0.035675,2.320,2.10,CLOSED,Coca-Cola,45.60,19.655172
PEP,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NMS,...,1594636200,1594636200,3.820,0.029881,5.164,5.88,CLOSED,PepsiCo,129.00,24.980635
COST,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,-14400000,us_market,False,NMS,...,1590696900,1590696900,2.650,0.008809,8.359,9.26,CLOSED,Costco Wholesale,298.70,35.733940

In [15]:
Ranked_CS=Rank_Top5(Top5_CS.index, 'Trailing P/E')
Ranked_CS

,Current,5/31/2020,2/29/2020,11/30/2019,8/31/2019,5/31/2019,3/31/2020,12/31/2019,9/30/2019,6/30/2019,3/31/2019,4/30/2020,1/31/2020,10/31/2019,7/31/2019,4/30/2019
KO,19.63,21.38,21.38,21.38,21.38,21.38,21.38,29.44,31.84,31.05,29.85,NaN,NaN,NaN,NaN,NaN
WMT,22.83,23.42,23.42,23.42,23.42,23.42,23.42,23.42,23.42,23.42,23.42,23.42,22.94,26.53,38.46,45.5
PEP,24.78,23.10,23.10,23.10,23.10,23.10,23.10,15.62,15.22,14.83,13.96,NaN,NaN,NaN,NaN,NaN
COST,35.98,36.21,33.35,36.30,36.21,29.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PG,63.18,62.50,62.50,62.50,62.50,62.50,62.50,79.55,86.98,26.05,25.32,NaN,NaN,NaN,NaN,NaN

# Sector6 Health Care

In [16]:
Top5_HC=getTop5('Health Care')
Top5_HC

,language,region,quoteType,quoteSourceName,triggerable,currency,postMarketChangePercent,postMarketTime,postMarketPrice,postMarketChange,...,longName,messageBoardId,exchangeTimezoneName,exchangeTimezoneShortName,gmtOffSetMilliseconds,market,esgPopulated,marketState,displayName,price
JNJ,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,0.105592,1.592006e+09,142.20,0.149994,...,Johnson & Johnson,finmb_139677,America/New_York,EDT,-14400000,us_market,False,CLOSED,Johnson & Johnson,142.15
UNH,en-US,US,EQUITY,Delayed Quote,True,USD,-0.399784,1.592002e+09,284.01,-1.139984,...,UnitedHealth Group Incorporated,finmb_104673,America/New_York,EDT,-14400000,us_market,False,CLOSED,UnitedHealth,285.15
MRK,en-US,US,EQUITY,Delayed Quote,True,USD,0.235911,1.592004e+09,76.48,0.180000,...,"Merck & Co., Inc.",finmb_288502,America/New_York,EDT,-14400000,us_market,False,CLOSED,Merck,76.30
PFE,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,0.000000,1.592006e+09,33.75,0.000000,...,Pfizer Inc.,finmb_162270,America/New_York,EDT,-14400000,us_market,False,CLOSED,Pfizer,33.75
ABBV,en-US,US,EQUITY,Delayed Quote,True,USD,0.000000,1.592005e+09,92.46,0.000000,...,AbbVie Inc.,finmb_141885706,America/New_York,EDT,-14400000,us_market,False,CLOSED,AbbVie,92.46

In [17]:
Ranked_HC=Rank_Top5(Top5_HC.index, 'Trailing P/E')
Ranked_HC

      Current  3/31/2020  12/31/2019  9/30/2019  6/30/2019  3/31/2019
PFE     11.89      11.37       13.70      16.48      22.22      22.83
ABBV    16.33      14.43       39.00      26.95      20.37      22.02
MRK     19.58      20.19       25.41      23.58      26.45      35.85
UNH     19.86      17.40       21.38      16.33      18.94      20.28
JNJ     21.98      23.29       27.78      21.46      25.79      24.92

# Sector7 Financials

In [18]:
Top5_Fin=getTop5('Financials')
Top5_Fin

,language,region,quoteType,quoteSourceName,triggerable,currency,exchange,shortName,longName,messageBoardId,...,ask,bidSize,askSize,fullExchangeName,financialCurrency,regularMarketOpen,averageDailyVolume3Month,averageDailyVolume10Day,displayName,price
JPM,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,NYQ,JP Morgan Chase & Co.,JPMorgan Chase & Co.,finmb_658776,...,99.81,9,9,NYSE,USD,100.71,26614576,28135571,JPMorgan Chase,99.87
BAC,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,Bank of America Corporation,Bank of America Corporation,finmb_19049,...,24.71,30,32,NYSE,USD,25.03,87441107,97807828,Bank of America,24.78
WFC,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,Wells Fargo & Company,Wells Fargo & Company,finmb_292891,...,28.01,13,10,NYSE,USD,28.00,50046788,71286571,Wells Fargo,27.97
C,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,NYQ,"Citigroup, Inc.",Citigroup Inc.,finmb_391687,...,52.07,18,18,NYSE,USD,51.40,33056373,39800900,Citigroup,52.25
AXP,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,NYQ,American Express Company,American Express Company,finmb_92001,...,101.67,8,12,NYSE,USD,103.21,7666877,7121414,American Express,101.68

In [19]:
Ranked_Fin=Rank_Top5(Top5_Fin.index, 'P/B')
Ranked_Fin

     Current  3/31/2020  12/31/2019  9/30/2019  6/30/2019  3/31/2019
C       0.58       0.50        0.95       0.84       0.89       0.81
WFC     0.68       0.71        1.30       1.22       1.20       1.26
BAC     0.86       0.76        1.27       1.07       1.11       1.09
JPM     1.28       1.17        1.82       1.56       1.54       1.43
AXP     3.78       2.99        4.38       4.21       4.62       4.10

# Sector8 Information Technology

In [20]:
Top5_IT=getTop5('Information Technology')
Top5_IT

,language,region,quoteType,quoteSourceName,triggerable,currency,exchange,shortName,longName,messageBoardId,...,fiftyTwoWeekHigh,dividendDate,earningsTimestamp,earningsTimestampStart,earningsTimestampEnd,trailingAnnualDividendRate,trailingPE,trailingAnnualDividendYield,displayName,price
AAPL,en-US,US,EQUITY,Delayed Quote,True,USD,NMS,Apple Inc.,Apple Inc.,finmb_24937,...,354.77,1.589414e+09,1588278600,1595948340,1596470400,3.080,26.618479,0.009169,Apple,338.80
MSFT,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,NMS,Microsoft Corporation,Microsoft Corporation,finmb_21835,...,198.52,1.591834e+09,1588190786,1594911540,1595260800,1.990,31.279575,0.010683,Microsoft,187.74
V,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,Visa Inc.,Visa Inc.,finmb_38043467,...,214.17,1.591056e+09,1588277040,1595343540,1595865600,1.150,34.604030,0.006089,Visa,192.26
MA,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,Mastercard Incorporated,Mastercard Incorporated,finmb_6477196,...,347.25,1.588896e+09,1588161601,1595953800,1596472200,1.460,38.056232,0.005013,Mastercard,297.79
INTC,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,NMS,Intel Corporation,Intel Corporation,finmb_21127,...,69.29,1.590970e+09,1587686400,1595548800,1595894400,1.275,11.502521,0.021357,Intel,59.33

In [21]:
Ranked_IT=Rank_Top5(Top5_IT.index, 'P/S')
Ranked_IT

,Current,3/31/2020,12/31/2019,9/30/2019,6/30/2019,3/31/2019,As of Date: 6/13/2020Current
INTC,3.48,3.36,3.85,3.36,3.14,3.56,NaN
AAPL,5.63,4.34,5.25,4.09,3.68,3.56,NaN
MSFT,10.35,9.07,9.40,8.57,8.51,7.74,NaN
V,15.47,15.47,18.58,17.64,18.41,17.00,17.77
MA,17.41,14.62,18.86,17.89,18.04,16.49,NaN

# Sector9 Communication Services

In [22]:
Top5_Comm=getTop5('Communication Services')
Top5_Comm

,language,region,quoteType,quoteSourceName,triggerable,currency,exchange,shortName,longName,messageBoardId,...,fiftyTwoWeekHigh,dividendDate,earningsTimestamp,earningsTimestampStart,earningsTimestampEnd,trailingAnnualDividendRate,trailingPE,trailingAnnualDividendYield,displayName,price
GOOGL,en-US,US,EQUITY,Delayed Quote,True,USD,NMS,Alphabet Inc.,Alphabet Inc.,finmb_29096,...,1530.740,NaN,1.588118e+09,1.595549e+09,1.595894e+09,NaN,28.502382,NaN,NaN,1412.92
GOOG,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,NMS,Alphabet Inc.,Alphabet Inc.,finmb_29096,...,1532.106,NaN,NaN,NaN,NaN,NaN,28.507627,NaN,Alphabet,1413.18
FB,en-US,US,EQUITY,Delayed Quote,True,USD,NMS,"Facebook, Inc.","Facebook, Inc.",finmb_20765463,...,241.210,NaN,1.588191e+09,1.595430e+09,1.595866e+09,NaN,31.363886,NaN,Facebook,228.58
VZ,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,Verizon Communications Inc.,Verizon Communications Inc.,finmb_415798,...,62.220,1.596413e+09,1.595590e+09,1.595590e+09,1.595590e+09,2.447,12.760722,0.043348,Verizon,56.53
T,en-US,US,EQUITY,Delayed Quote,True,USD,NYQ,AT&T Inc.,AT&T Inc.,finmb_100231,...,39.700,1.588291e+09,1.595522e+09,1.595522e+09,1.595522e+09,2.060,15.490097,0.068280,AT&T,30.50

In [23]:
Ranked_Comm=Rank_Top5(Top5_Comm.index, 'P/B')
Ranked_Comm

       Current  3/31/2020  12/31/2019  9/30/2019  6/30/2019  3/31/2019
T         1.21       1.13        1.55       1.50       1.32       1.24
VZ        3.88       3.62        4.31       4.41       4.23       4.60
GOOGL     4.70       3.95        4.73       4.39       4.10       4.60
GOOG      4.71       3.95        4.72       4.38       4.09       4.59
FB        6.07       4.71        6.23       5.73       6.37       5.66

# Sector10 Utilities

In [24]:
Top5_U=getTop5('Utilities')
Top5_U

,language,region,quoteType,quoteSourceName,triggerable,currency,postMarketChangePercent,postMarketTime,postMarketPrice,postMarketChange,...,longName,messageBoardId,exchangeTimezoneName,exchangeTimezoneShortName,gmtOffSetMilliseconds,market,esgPopulated,marketState,displayName,price
NEE,en-US,US,EQUITY,Delayed Quote,True,USD,0.000000,1591996817,246.91,0.000000,...,"NextEra Energy, Inc.",finmb_270586,America/New_York,EDT,-14400000,us_market,False,CLOSED,NextEra Energy,246.91
D,en-US,US,EQUITY,Delayed Quote,True,USD,0.000000,1591996817,83.15,0.000000,...,"Dominion Energy, Inc.",finmb_267105,America/New_York,EDT,-14400000,us_market,False,CLOSED,Dominion Energy,83.15
DUK,en-US,US,EQUITY,Delayed Quote,True,USD,0.000000,1592001523,86.74,0.000000,...,Duke Energy Corporation,finmb_267850,America/New_York,EDT,-14400000,us_market,False,CLOSED,Duke Energy,86.74
SO,en-US,US,EQUITY,Delayed Quote,True,USD,1.228418,1592002927,56.86,0.690002,...,The Southern Company,finmb_120623,America/New_York,EDT,-14400000,us_market,False,CLOSED,Southern,56.17
AEP,en-US,US,EQUITY,Delayed Quote,True,USD,0.000000,1591996818,81.80,0.000000,...,"American Electric Power Company, Inc.",finmb_135470,America/New_York,EDT,-14400000,us_market,False,CLOSED,American Electric Power,81.80

In [25]:
Ranked_U=Rank_Top5(Top5_U.index, 'EV/EBITDA')
Ranked_U

,Current,3/31/2020,12/31/2019,9/30/2019,6/30/2019,3/31/2019,As of Date: 6/13/2020Current
AEP,12.73,46.34,64.38,43.77,54.93,44.51,NaN
DUK,43.00,43.00,50.09,38.72,46.91,44.41,11.25
SO,43.57,43.57,70.40,36.17,44.97,21.18,11.50
NEE,69.28,69.28,70.23,53.03,43.95,57.47,15.59
D,101.60,101.60,48.73,48.83,80.86,150.30,16.32

# Sector11 Real Estate

In [26]:
Top5_RE=getTop5('Real Estate')
Top5_RE

,language,region,quoteType,quoteSourceName,triggerable,currency,gmtOffSetMilliseconds,market,esgPopulated,exchange,...,earningsTimestampStart,earningsTimestampEnd,trailingAnnualDividendRate,trailingPE,trailingAnnualDividendYield,epsTrailingTwelveMonths,epsForward,marketState,displayName,price
AMT,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NYQ,...,1596020400,1596466800,3.96,60.299060,0.015745,4.280,4.89,CLOSED,American Tower,258.08
PLD,en-US,US,EQUITY,Nasdaq Real Time Price,True,USD,-14400000,us_market,False,NYQ,...,1594684800,1595030400,2.17,36.094765,0.023870,2.617,1.79,CLOSED,Prologis,94.46
CCI,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NYQ,...,1596067200,1596067200,4.65,92.864400,0.028932,1.770,2.72,CLOSED,Crown Castle,164.37
EQIX,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NMS,...,1596034740,1596470400,10.04,114.162310,0.015196,5.927,8.51,CLOSED,Equinix,676.64
DLR,en-US,US,EQUITY,Delayed Quote,True,USD,-14400000,us_market,False,NYQ,...,1595948340,1596470400,4.36,48.519444,0.032829,2.803,1.66,CLOSED,Digital Realty Trust,136.00

In [27]:
Ranked_RE=Rank_Top5(Top5_RE.index, 'Trailing P/E')
Ranked_RE

      Current  3/31/2020  12/31/2019  9/30/2019  6/30/2019  3/31/2019
PLD     34.83      32.67       31.50      31.33      29.23      25.07
DLR     48.00      59.11      119.74     120.19      94.23      98.35
AMT     58.76      51.36       63.84      66.81      67.48      71.14
CCI     90.80      80.67       71.79      80.82      83.03      95.52
EQIX   111.42     104.27       98.76      95.34      96.79      99.38