In [1]:
# 1. Find tickers of current S&P 500 companies

In [1]:
import pandas as pd
import numpy as np
import os
os.getcwd()
os.chdir("/Users/rosefeng/Desktop")

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df1=data[0]
df1.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [3]:
df2 = pd.read_excel('SP_500.xlsx')
df2.head()

,Ticker,Name,Price,Dividend Yield,Market Cap,Forward P/E Ratio,Payout Ratio,Beta
0,DXCM,"DexCom, Inc.",362.675,NaN,35551.191000,224.56,NaN,0.766735
1,WST,"West Pharmaceutical Services, Inc.",203.770,0.002960,15667.700314,57.80,0.178703,0.712398
2,DPZ,"Domino's Pizza, Inc.",382.790,0.006959,15348.053900,35.75,0.254969,0.442651
3,RTX,Raytheon Technologies Corp.,62.850,0.043008,59211.039400,13.09,0.612360,1.250260
4,OTIS,Otis Worldwide Corp.,56.250,0.003388,25564.653370,NaN,NaN,0.116298

In [4]:
# Merge two tables to show the sector column and the market capitalization colum

In [5]:
df3=pd.merge(df1,df2,left_on='Symbol',right_on='Ticker')
table = df3.drop(['SEC filings','GICS Sub Industry','Date first added',
                  'Headquarters Location','CIK','Founded','Ticker','Name'],axis=1)
table

,Symbol,Security,GICS Sector,Price,Dividend Yield,Market Cap,Forward P/E Ratio,Payout Ratio,Beta
0,MMM,3M Company,Industrials,152.380,0.035326,9.427462e+04,17.68,0.671912,0.891983
1,ABT,Abbott Laboratories,Health Care,87.780,0.014757,1.630172e+05,43.50,0.673935,0.910047
2,ABBV,AbbVie Inc.,Health Care,92.260,0.046440,1.707707e+05,16.28,0.793819,0.760971
3,ABMD,ABIOMED Inc,Health Care,235.445,NaN,1.127746e+04,52.42,NaN,0.629920
4,ACN,Accenture plc,Information Technology,195.950,0.014611,1.334126e+05,25.11,0.392061,1.078378
5,ATVI,Activision Blizzard,Communication Services,71.295,0.005012,5.687728e+04,35.00,0.181702,0.662195
6,ADBE,Adobe Inc.,Information Technology,387.750,NaN,1.960063e+05,58.10,NaN,1.106735
7,AMD,Advanced Micro Devices Inc,Information Technology,52.820,NaN,6.727315e+04,123.06,NaN,1.250638
8,AAP,Advance Auto Parts,Consumer Discretionary,133.130,0.003063,9.700426e+03,24.15,0.078014,1.014977
9,AES,AES Corp,Utilities,12.200,0.042491,8.756838e+03,27.74,1.272397,1.211172
10,AFL,AFLAC Inc,Financials,35.660,0.027884,2.804739e+04,8.92,0.272745,1.267577
11,A,Agilent Technologies Inc,Health Care,85.030,0.007661,2.773126e+04,38.61,0.312386,0.942848
12,APD,Air Products & Chemicals Inc,Materials,233.080,0.019446,5.474112e+04,26.28,0.543546,1.075630
13,AKAM,Akamai Technologies Inc,Information Technology,100.510,NaN,1.685215e+04,32.99,NaN,0.627345
14,ALK,Alaska Air Group Inc,Industrials,35.590,0.034354,5.084826e+03,8.25,0.330182,1.452063
15,ALB,Albemarle Corp,Materials,74.520,0.017738,8.915911e+03,15.59,0.311205,1.215697
16,ARE,Alexandria Real Estate Equities,Real Estate,152.390,0.025709,1.992871e+04,71.61,1.907805,1.046996
17,ALXN,Alexion Pharmaceuticals,Health Care,109.710,NaN,2.568880e+04,10.28,NaN,0.760263
18,ALGN,Align Technology,Health Care,238.275,NaN,2.107383e+04,9.93,NaN,1.418681
19,ALLE,Allegion,Industrials,101.560,0.010365,1.005385e+04,29.45,0.327660,1.082675
20,ADS,Alliance Data Systems,Information Technology,47.570,0.044562,2.693307e+03,-6.26,-0.331448,1.664234
21,LNT,Alliant Energy Corp,Utilities,48.760,0.028490,1.265484e+04,19.46,0.577584,0.859147
22,ALL,Allstate Corp,Financials,94.790,0.020004,3.203355e+04,7.82,0.168292,1.086823
23,GOOGL,Alphabet Inc. (Class A),Communication Services,1401.440,NaN,9.998328e+05,28.05,NaN,0.965786
24,GOOG,Alphabet Inc. (Class C),Communication Services,1404.450,NaN,1.000618e+06,28.08,NaN,0.955900
25,MO,Altria Group Inc,Consumer Staples,39.290,0.079388,7.771703e+04,-83.90,-7.089473,0.725099
26,AMZN,Amazon.com Inc.,Consumer Discretionary,2556.695,NaN,1.320485e+06,120.01,NaN,0.641642
27,AMCR,Amcor plc,Materials,9.190,0.047352,1.546100e+04,29.24,1.479478,0.994736
28,AEE,Ameren Corp,Utilities,71.840,0.025915,1.848226e+04,22.56,0.609335,0.965018
29,AAL,American Airlines Group,Industrials,14.405,0.023502,7.197673e+03,-7.73,-0.215088,1.365857
...,...,...,...,...,...,...,...,...,...
475,VNO,Vornado Realty Trust,Real Estate,38.860,0.108536,8.081788e+03,2.54,0.299816,1.299415
476,VMC,Vulcan Materials,Materials,109.090,0.010942,1.537161e+04,23.50,0.273565,0.900944
477,WRB,W. R. Berkley Corporation,Financials,56.050,0.007320,1.074310e+04,21.52,0.168958,1.177579
478,WAB,Wabtec Corporation,Industrials,60.000,0.007361,1.240875e+04,25.48,0.203830,1.177701
479,WMT,Walmart,Consumer Staples,120.090,0.017580,3.431191e+05,22.70,0.402540,0.544299
480,WBA,Walgreens Boots Alliance,Consumer Staples,40.760,0.040933,3.884330e+04,10.45,0.464744,0.836634
481,DIS,The Walt Disney Company,Communication Services,112.640,0.014405,2.206901e+05,37.76,0.590069,1.078477
482,WM,Waste Management Inc.,Industrials,103.200,0.019048,4.613999e+04,25.99,0.524546,0.809583
483,WAT,Waters Corporation,Health Care,181.550,NaN,1.204496e+04,22.18,NaN,0.927593
484,WEC,WEC Energy Group,Utilities,91.330,0.025638,2.955941e+04,24.68,0.649166,0.825078
485,WFC,Wells Fargo,Financials,26.790,0.066644,1.218110e+05,9.40,0.694371,1.421748
486,WELL,Welltower Inc.,Real Estate,51.340,0.062399,2.328280e+04,49.77,3.373401,1.356610
487,WST,West Pharmaceutical Services,Health Care,203.770,0.002960,1.566770e+04,57.80,0.178703,0.712398
488,WDC,Western Digital,Information Technology,42.350,0.042689,1.404099e+04,-21.05,-0.993986,1.577958
489,WU,Western Union Co,Information Technology,22.500,0.034795,9.742558e+03,9.01,0.330264,0.886011
490,WRK,WestRock,Materials,27.640,0.060566,7.876167e+03,8.39,0.558388,1.453814
491,WY,Weyerhaeuser,Real Estate,20.670,0.059623,1.702096e+04,42.48,2.794903,1.756830
492,WHR,Whirlpool Corp.,Consumer Discretionary,122.480,0.035653,8.369018e+03,8.97,0.351669,1.457870
493,WMB,Williams Cos.,Energy,18.170,0.076465,2.443385e+04,162.67,13.786929,1.234332
494,WLTW,Willis Towers Watson,Financials,185.800,0.013209,2.563262e+04,22.65,0.320665,0.916150
495,WYNN,Wynn Resorts Ltd,Consumer Discretionary,89.720,0.040433,1.067138e+04,-24.90,-1.110063,1.606166
496,XEL,Xcel Energy Inc,Utilities,65.110,0.024578,3.514019e+04,25.10,0.634547,0.890282
497,XRX,Xerox,Information Technology,16.060,0.056180,3.790243e+03,6.14,0.382248,1.335783
498,XLNX,Xilinx,Information Technology,89.800,0.015530,2.317324e+04,28.44,0.468978,1.028922
499,XYL,Xylem Inc.,Industrials,63.800,0.014304,1.232598e+04,31.95,0.490761,1.165764
500,YUM,Yum! Brands Inc,Consumer Discretionary,90.670,0.018387,2.831977e+04,24.78,0.472846,0.933720
501,ZBRA,Zebra Technologies,Information Technology,250.510,NaN,1.417970e+04,26.07,NaN,1.166926
502,ZBH,Zimmer Biomet Holdings,Health Care,121.140,0.007149,2.777144e+04,65.53,0.519340,0.959040
503,ZION,Zions Bancorp,Financials,33.675,0.035909,6.023567e+03,10.05,0.393936,1.049991
504,ZTS,Zoetis,Health Care,131.060,0.005203,6.644900e+04,38.82,0.215608,0.954719

In [6]:
# Find the tickers of S&P 500 companies
tickers =table['Symbol'].to_csv()
print(tickers)

0,MMM
1,ABT
2,ABBV
3,ABMD
4,ACN
5,ATVI
6,ADBE
7,AMD
8,AAP
9,AES
10,AFL
11,A
12,APD
13,AKAM
14,ALK
15,ALB
16,ARE
17,ALXN
18,ALGN
19,ALLE
20,ADS
21,LNT
22,ALL
23,GOOGL
24,GOOG
25,MO
26,AMZN
27,AMCR
28,AEE
29,AAL
30,AEP
31,AXP
32,AIG
33,AMT
34,AWK
35,AMP
36,ABC
37,AME
38,AMGN
39,APH
40,ADI
41,ANSS
42,ANTM
43,AON
44,AOS
45,APA
46,AIV
47,AAPL
48,AMAT
49,APTV
50,ADM
51,ANET
52,AJG
53,AIZ
54,T
55,ATO
56,ADSK
57,ADP
58,AZO
59,AVB
60,AVY
61,BKR
62,BLL
63,BAC
64,BK
65,BAX
66,BDX
67,BRK.B
68,BBY
69,BIIB
70,BLK
71,BA
72,BKNG
73,BWA
74,BXP
75,BSX
76,BMY
77,AVGO
78,BR
79,BF.B
80,CHRW
81,COG
82,CDNS
83,CPB
84,COF
85,CAH
86,KMX
87,CCL
88,CARR
89,CAT
90,CBOE
91,CBRE
92,CDW
93,CE
94,CNC
95,CNP
96,CTL
97,CERN
98,CF
99,SCHW
100,CHTR
101,CVX
102,CMG
103,CB
104,CHD
105,CI
106,CINF
107,CTAS
108,CSCO
109,C
110,CFG
111,CTXS
112,CLX
113,CME
114,CMS
115,KO
116,CTSH
117,CL
118,CMCSA
119,CMA
120,CAG
121,CXO
122,COP
123,ED
124,STZ
125,COO
126,CPRT
127,GLW
128,CTVA
129,COST
130,COTY
131,CCI
132,CSX
133,CMI
134,CVS
135,DHI
136,DHR
137,DRI
138,DVA
139,DE
140,DAL
141,XRAY
142,DVN
143,DXCM
144,FANG
145,DLR
146,DFS
147,DISCA
148,DISCK
149,DISH
150,DG
151,DLTR
152,D
153,DPZ
154,DOV
155,DOW
156,DTE
157,DUK
158,DRE
159,DD
160,DXC
161,ETFC
162,EMN
163,ETN
164,EBAY
165,ECL
166,EIX
167,EW
168,EA
169,EMR
170,ETR
171,EOG
172,EFX
173,EQIX
174,EQR
175,ESS
176,EL
177,EVRG
178,ES
179,RE
180,EXC
181,EXPE
182,EXPD
183,EXR
184,XOM
185,FFIV
186,FB
187,FAST
188,FRT
189,FDX
190,FIS
191,FITB
192,FE
193,FRC
194,FISV
195,FLT
196,FLIR
197,FLS
198,FMC
199,F
200,FTNT
201,FTV
202,FBHS
203,FOXA
204,FOX
205,BEN
206,FCX
207,GPS
208,GRMN
209,IT
210,GD
211,GE
212,GIS
213,GM
214,GPC
215,GILD
216,GL
217,GPN
218,GS
219,GWW
220,HRB
221,HAL
222,HBI
223,HOG
224,HIG
225,HAS
226,HCA
227,PEAK
228,HSIC
229,HSY
230,HES
231,HPE
232,HLT
233,HFC
234,HOLX
235,HD
236,HON
237,HRL
238,HST
239,HWM
240,HPQ
241,HUM
242,HBAN
243,HII
244,IEX
245,IDXX
246,INFO
247,ITW
248,ILMN
249,INCY
250,IR
251,INTC
252,ICE
253,IBM
254,IP
255,IPG
256,IFF
257,INTU
258,ISRG
259,IVZ
260,IPGP
261,IQV
262,IRM
263,JKHY
264,J
265,JBHT
266,SJM
267,JNJ
268,JCI
269,JPM
270,JNPR
271,KSU
272,K
273,KEY
274,KEYS
275,KMB
276,KIM
277,KMI
278,KLAC
279,KSS
280,KHC
281,KR
282,LB
283,LHX
284,LH
285,LRCX
286,LW
287,LVS
288,LEG
289,LDOS
290,LEN
291,LLY
292,LNC
293,LIN
294,LYV
295,LKQ
296,LMT
297,L
298,LOW
299,LYB
300,MTB
301,MRO
302,MPC
303,MKTX
304,MAR
305,MMC
306,MLM
307,MAS
308,MA
309,MKC
310,MXIM
311,MCD
312,MCK
313,MDT
314,MRK
315,MET
316,MTD
317,MGM
318,MCHP
319,MU
320,MSFT
321,MAA
322,MHK
323,TAP
324,MDLZ
325,MNST
326,MCO
327,MS
328,MOS
329,MSI
330,MSCI
331,MYL
332,NDAQ
333,NOV
334,NTAP
335,NFLX
336,NWL
337,NEM
338,NWSA
339,NWS
340,NEE
341,NLSN
342,NKE
343,NI
344,NBL
345,JWN
346,NSC
347,NTRS
348,NOC
349,NLOK
350,NCLH
351,NRG
352,NUE
353,NVDA
354,NVR
355,ORLY
356,OXY
357,ODFL
358,OMC
359,OKE
360,ORCL
361,OTIS
362,PCAR
363,PKG
364,PH
365,PAYX
366,PAYC
367,PYPL
368,PNR
369,PBCT
370,PEP
371,PKI
372,PRGO
373,PFE
374,PM
375,PSX
376,PNW
377,PXD
378,PNC
379,PPG
380,PPL
381,PFG
382,PG
383,PGR
384,PLD
385,PRU
386,PEG
387,PSA
388,PHM
389,PVH
390,QRVO
391,PWR
392,QCOM
393,DGX
394,RL
395,RJF
396,RTX
397,O
398,REG
399,REGN
400,RF
401,RSG
402,RMD
403,RHI
404,ROK
405,ROL
406,ROP
407,ROST
408,RCL
409,SPGI
410,CRM
411,SBAC
412,SLB
413,STX
414,SEE
415,SRE
416,NOW
417,SHW
418,SPG
419,SWKS
420,SLG
421,SNA
422,SO
423,LUV
424,SWK
425,SBUX
426,STT
427,STE
428,SYK
429,SIVB
430,SYF
431,SNPS
432,SYY
433,TMUS
434,TROW
435,TTWO
436,TPR
437,TGT
438,TEL
439,FTI
440,TFX
441,TXN
442,TXT
443,TMO
444,TIF
445,TJX
446,TSCO
447,TT
448,TDG
449,TRV
450,TFC
451,TWTR
452,TSN
453,UDR
454,ULTA
455,USB
456,UAA
457,UA
458,UNP
459,UAL
460,UNH
461,UPS
462,URI
463,UHS
464,UNM
465,VFC
466,VLO
467,VAR
468,VTR
469,VRSN
470,VRSK
471,VZ
472,VRTX
473,VIAC
474,V
475,VNO
476,VMC
477,WRB
478,WAB
479,WMT
480,WBA
481,DIS
482,WM
483,WAT
484,WEC
485,WFC
486,WELL
487,WST
488,WDC
489,WU
490,WRK
491,WY
492,WHR
493,WMB
494,WLTW
495,WYNN
496,XEL
497,XRX
498,XLNX
499,XYL
500,YUM
501,ZBRA
502,ZBH
503,ZION
504,ZTS

/Users/rosefeng/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [9]:
# 2. From the S&P 500 companies, select 5 top companies from 
# each industry sector, based on companies’ market capitalization

In [7]:
# Set Market Capitalization as the index
table.index=table['Market Cap']
table.head()

,Symbol,Security,GICS Sector,Price,Dividend Yield,Market Cap,Forward P/E Ratio,Payout Ratio,Beta
Market Cap,,,,,,,,,
94274.62440,MMM,3M Company,Industrials,152.380,0.035326,94274.62440,17.68,0.671912,0.891983
163017.21600,ABT,Abbott Laboratories,Health Care,87.780,0.014757,163017.21600,43.50,0.673935,0.910047
170770.74600,ABBV,AbbVie Inc.,Health Care,92.260,0.046440,170770.74600,16.28,0.793819,0.760971
11277.46345,ABMD,ABIOMED Inc,Health Care,235.445,NaN,11277.46345,52.42,NaN,0.629920
133412.56461,ACN,Accenture plc,Information Technology,195.950,0.014611,133412.56461,25.11,0.392061,1.078378

In [111]:
# Top 5 companies in the Information Technology Sector
IT = table[table['GICS Sector']=="Information Technology"]
IT5=IT.nlargest(5,'Market Cap')

In [43]:
IT5tickers=IT5['Symbol'].tolist()
print(IT5tickers)

['AAPL', 'MSFT', 'V', 'MA', 'INTC']

In [110]:
# Top 5 companies in the Healthcare Sector
Health = table[table['GICS Sector']=="Health Care"]
HC5=Health.nlargest(5,'Market Cap')

In [107]:
HC5tickers=HC5['Symbol'].tolist()
print(HC5tickers)

['JNJ', 'UNH', 'MRK', 'PFE', 'ABBV']

In [116]:
# Top 5 companies in the Financials Sector
Financials = table[table['GICS Sector']=="Financials"]
F5=Financials.nlargest(5,'Market Cap')

In [117]:
F5tickers=F5['Symbol'].tolist()
print(F5tickers)

['BRK.B', 'JPM', 'BAC', 'WFC', 'C']

In [13]:
# Top 5 companies in the Consumer Discretionary Sector
Consumer_Discretionary = table[table['GICS Sector']=="Consumer Discretionary"]
CD5=Consumer_Discretionary.nlargest(5,'Market Cap')

In [14]:
CD5tickers=CD5['Symbol'].tolist()
print(CD5tickers)

['AMZN', 'HD', 'NKE', 'MCD', 'LOW']

In [34]:
# Top 5 companies in the Communication Services Sector
Communication_Services = table[table['GICS Sector']=="Communication Services"]
CS5=Communication_Services.nlargest(5,'Market Cap')

In [36]:
CS5tickers=CS5['Symbol'].tolist()
print(CS5tickers)

['GOOG', 'GOOGL', 'FB', 'VZ', 'T']

In [107]:
# Top 5 companies in the Industrials Sector
Industrials = table[table['GICS Sector']=="Industrials"]
I5=Industrials.nlargest(5,'Market Cap')

In [108]:
I5tickers=I5['Symbol'].tolist()
print(I5tickers)

['UNP', 'BA', 'LMT', 'HON', 'MMM']

In [11]:
# Top 5 companies in the Consumer Staples sector
Consumer_Staples = table[table['GICS Sector']=="Consumer Staples"]
C5=Consumer_Staples.nlargest(5,'Market Cap')

In [13]:
C5tickers=C5['Symbol'].tolist()
print(C5tickers)

['WMT', 'PG', 'KO', 'PEP', 'COST']

In [28]:
# Top 5 companies in the Energy sector
Energy = table[table['GICS Sector']=="Energy"]
E5=Energy.nlargest(5,'Market Cap')

In [29]:
E5tickers=E5['Symbol'].tolist()
print(C5tickers)

['WMT', 'PG', 'KO', 'PEP', 'COST']

In [70]:
# Top 5 companies in the Utilities sector
Utilities = table[table['GICS Sector']=="Utilities"]
U5=Utilities.nlargest(5,'Market Cap')

In [71]:
U5tickers=U5['Symbol'].tolist()
print(C5tickers)

['WMT', 'PG', 'KO', 'PEP', 'COST']

In [88]:
# Top 5 companies in the Real Estate sector
Real_Estate = table[table['GICS Sector']=="Real Estate"]
R5=Real_Estate.nlargest(5,'Market Cap')

In [90]:
R5tickers=R5['Symbol'].tolist()
print(R5tickers)

['AMT', 'CCI', 'PLD', 'EQIX', 'SPG']

In [105]:
# Top 5 companies in the Materials sector
Materials = table[table['GICS Sector']=="Materials"]
M5=Materials.nlargest(5,'Market Cap')

In [106]:
M5tickers=M5['Symbol'].tolist()
print(M5tickers)

['LIN', 'ECL', 'APD', 'SHW', 'NEM']

In [22]:
# 3. Then rank these 5 top companies in their own industry sector
# respectively based on their most important financial metrics

In [ ]:
# IT sector: Apple, Microsoft, Visa, Mastercard, and Intel.

In [15]:
from yahoofinancials import YahooFinancials

In [102]:
ticker = IT5tickers
yahoo_financials = YahooFinancials(ticker)
IT_o_income=yahoo_financials.get_operating_income()
IT_ibt=yahoo_financials.get_income_before_tax()

In [104]:
IT_df1 = pd.DataFrame.from_dict(
    data=IT_o_income,columns= ['Operating_Income'],orient='index')
IT_df2= pd.DataFrame.from_dict(
    data=IT_ibt,columns= ['EBIT'],orient='index')

In [97]:
#Ranking based on Operating Income in IT sector
IT_df1.sort_values(['Operating_Income'],ascending=False)

      Operating_Income
AAPL       63930000000
MSFT       42959000000
INTC       22428000000
V          15438000000
MA          9667000000

In [105]:
#Ranking based on Income before tax in IT sector
IT_df2.sort_values(['EBIT'],ascending=False)

             EBIT
AAPL  65737000000
MSFT  43688000000
INTC  24058000000
V     14884000000
MA     9731000000

In [ ]:
#Healthcare Sector: Johnson & Johnson, United Health Group, Merck & Co, Pfizer, and AbbVie.

In [216]:
ticker = HC5tickers
yahoo_financials = YahooFinancials(ticker)
HC_dividend_rate=yahoo_financials.get_dividend_rate()

In [217]:
HC_dividend_rate

{'JNJ': 4.04, 'UNH': 5, 'MRK': 2.44, 'PFE': 1.52, 'ABBV': 4.72}

In [218]:
HC_df = pd.DataFrame.from_dict(
    data=HC_dividend_rate,columns=['Dividend_rate'],orient='index')
HC_df

      Dividend_rate
JNJ            4.04
UNH            5.00
MRK            2.44
PFE            1.52
ABBV           4.72

In [140]:
#Ranking based on dividend rate in Healthcare sector
HC_df.sort_values(['Dividend_rate'],ascending=False)

      Dividend_rate
UNH            5.00
ABBV           4.72
JNJ            4.04
MRK            2.44
PFE            1.52

In [ ]:
# Web scrapping for other info on Yahoo Finance

In [54]:
from datetime import datetime
import lxml
from lxml import html
import requests

def get_page(url):
    # Set up the request headers that we're going to use, to simulate
    # a request by the Chrome browser. Simulating a request from a browser
    # is generally good practice when building a scraper
    headers = {
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
        'Accept-Encoding': 'gzip, deflate, br',
        'Accept-Language': 'en-US,en;q=0.9',
        'Cache-Control': 'max-age=0',
        'Pragma': 'no-cache',
        'Referrer': 'https://google.com',
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36'
    }

    return requests.get(url, headers=headers)

def parse_rows(table_rows):
    parsed_rows = []

    for table_row in table_rows:
        parsed_row = []
        el = table_row.xpath("./div")

        none_count = 0

        for rs in el:
            try:
                (text,) = rs.xpath('.//span/text()[1]')
                parsed_row.append(text)
            except ValueError:
                parsed_row.append(np.NaN)
                none_count += 1

        if (none_count < 4):
            parsed_rows.append(parsed_row)
            
    return pd.DataFrame(parsed_rows)

def clean_data(df):
    df = df.set_index(0) # Set the index to the first column: 'Period Ending'.
    df = df.transpose() # Transpose the DataFrame, so that our header contains the account names
    
    # Rename the "Breakdown" column to "Date"
    cols = list(df.columns)
    cols[0] = 'Date'
    df = df.set_axis(cols, axis='columns', inplace=False)
    
    numeric_columns = list(df.columns)[1::] # Take all columns, except the first (which is the 'Date' column)

    for column_index in range(1, len(df.columns)): # Take all columns, except the first (which is the 'Date' column)
        df.iloc[:,column_index] = df.iloc[:,column_index].str.replace(',', '') # Remove the thousands separator
        df.iloc[:,column_index] = df.iloc[:,column_index].astype(np.float64) # Convert the column to float64
        
    return df

def scrape_table(url):
    # Fetch the page that we're going to parse
    page = get_page(url);

    # Parse the page with LXML, so that we can start doing some XPATH queries
    # to extract the data that we want
    tree = html.fromstring(page.content)

    # Fetch all div elements which have class 'D(tbr)'
    table_rows = tree.xpath("//div[contains(@class, 'D(tbr)')]")
    
    # Ensure that some table rows are found; if none are found, then it's possible
    # that Yahoo Finance has changed their page layout, or have detected
    # that you're scraping the page.
    assert len(table_rows) > 0
    
    df = parse_rows(table_rows)
    df = clean_data(df)
        
    return df

In [55]:
def scrape(symbol):
    print('Attempting to scrape data for ' + symbol)

    df_balance_sheet = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol)
    df_balance_sheet = df_balance_sheet.set_index('Date')

    df_income_statement = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/financials?p=' + symbol)
    df_income_statement = df_income_statement.set_index('Date')
    
    df_cash_flow = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/cash-flow?p=' + symbol)
    df_cash_flow = df_cash_flow.set_index('Date')
    
    df_joined = df_balance_sheet \
        .join(df_income_statement, on='Date', how='outer', rsuffix=' - Income Statement') \
        .join(df_cash_flow, on='Date', how='outer', rsuffix=' - Cash Flow') \
        .dropna(axis=1, how='all') \
        .reset_index()
            
    df_joined.insert(1, 'Symbol', symbol)
    
    return df_joined

In [56]:
def scrape_multi(symbols):
    return pd.concat([scrape(symbol) for symbol in symbols], sort=False)

In [203]:
symbols = HC5tickers
df_combined = scrape_multi(symbols)

Attempting to scrape data for JNJ
Attempting to scrape data for UNH
Attempting to scrape data for MRK
Attempting to scrape data for PFE
Attempting to scrape data for ABBV

In [67]:
HC5data=pd.DataFrame(data=df_combined)

In [68]:
HC5_df1=HC5data.groupby(['Symbol']).mean()

In [69]:
# Ranking based on Total Debt in Healthcare Sector
HC5_df2=HC5_df1.sort_values(by='Total Debt',ascending=True)
HC5_df2['Total Debt']

Symbol
PSX    10792750.0
COP    19210250.0
CVX    36580250.0
KMI    37402250.0
XOM    42453500.0
Name: Total Debt, dtype: float64

In [ ]:
#Financials Sector: Berkshire Hathaway, JPMorgan Chase & Co, and Bank of America, Wells Fargo, and Citigroup.

In [118]:
ticker = F5tickers
yahoo_financials = YahooFinancials(ticker)
F5_pe_ratio=yahoo_financials.get_pe_ratio()

In [119]:
#Ranking based on P/E ratios in Financials sector
F5_df1 = pd.DataFrame.from_dict(
    data=F5_pe_ratio,columns= ['PE Ratio'],orient='index')
F5_df1.sort_values(['PE Ratio'],ascending=True)

        PE Ratio
C       7.284239
WFC     9.550173
BAC    10.264228
JPM    10.992358
BRK.B        NaN

In [104]:
yahoo_financials = YahooFinancials(F5tickers)
F5_pb=yahoo_financials.get_key_statistics_data()

In [244]:
F5_pb_df1=pd.DataFrame.from_dict(data=F5_pb)
F5_pb_df1=F5_pb_df1.transpose()
F5_pb_df2=F5_pb_df1.sort_values(['priceToBook'],ascending=False)

In [246]:
#Ranking based on Price-to-book ratio in Financials Sector
F5_pb_df2['priceToBook']

JPM       1.34486
BAC      0.926857
WFC      0.718895
C        0.650149
BRK.B         NaN
Name: priceToBook, dtype: object

In [ ]:
# Consumer Discretionary Sector: Amazon, Home Depot, Nike, McDonald, and Lowe’s.

In [38]:
yahoo_financials = YahooFinancials(CD5tickers)
CD5=yahoo_financials.get_key_statistics_data()

In [40]:
CD5_pm_df1=pd.DataFrame.from_dict(data=CD5)
CD5_pm_df1=CD5_pm_df1.transpose()
CD5_pm_df2=CD5_pm_df1.sort_values(['profitMargins'],ascending=False)

In [41]:
# Ranking based on Profit Margin in Consumer Discretionary Sector
CD5_pm_df2['profitMargins']

MCD     0.27948
NKE     0.10462
HD      0.09789
LOW     0.06171
AMZN    0.03565
Name: profitMargins, dtype: object

In [24]:
# Yahoo finance does not have revenue growth data, 
# so total revenue data will be used instead
yahoo_financials = YahooFinancials(CD5tickers)
CD5_tr=yahoo_financials.get_total_revenue()

In [30]:
CD5_tg_df1=pd.DataFrame.from_dict(data=CD5_tr,orient='index',columns=['Total revenue'])

In [31]:
# Ranking based on Total revenue in Consumer Discretionary Sector
CD5_tg_df2=CD5_tg_df1.sort_values(['Total revenue'],ascending=False)
CD5_tg_df2

      Total revenue
AMZN   280522000000
HD     110225000000
LOW     72148000000
NKE     39117000000
MCD     21076500000

In [ ]:
# Communication Services sector: Alphabet (Class C), Alphabet (Class A), Facebook, Verizon, and AT&T.

In [ ]:
# Yahoo Finance does not have data on operating margins, 
# so a similar measure, profit margin data, is used instead

In [43]:
yahoo_financials = YahooFinancials(CS5tickers)
CS5=yahoo_financials.get_key_statistics_data()

In [60]:
CS5_pm_df1=pd.DataFrame.from_dict(data=CS5)
CS5_pm_df1=CS5_pm_df1.transpose()
CS5_pm_df2=CS5_pm_df1.sort_values(['profitMargins'],ascending=False)

In [45]:
# Ranking based on profit margin in Communication services sector

FB        0.2857
GOOG     0.20712
GOOGL    0.20712
VZ          0.14
T        0.08048
Name: profitMargins, dtype: object

In [128]:
yahoo_financials = YahooFinancials(CS5tickers)
CS5_ta=yahoo_financials.get_net_income_from_continuing_ops()

In [129]:
# Ranking based on Net Income from continuing operations in Communications Service sector
CS5_ni = pd.DataFrame.from_dict(
    data=CS5_ta,columns= ['Net Income from operations'],orient='index')
CS5_ni.sort_values(['Net Income from operations'],ascending=False)

       Net Income from operations
GOOG                  34343000000
GOOGL                 34343000000
VZ                    19788000000
FB                    18485000000
T                     14975000000

In [ ]:
# Industrials Sector: Unicon Pacific Group, Boeing, Lockheed Martin, Honeywell, and 3M.

In [ ]:
# The return of net assets data & total asset data is marked as "null" on Yahoo Finance

In [ ]:
# Consumer Staples Sector: Walmart, Proctor & Gamble, Coca-Cola, PepsiCo, and Costco.

In [17]:
yahoo_financials = YahooFinancials(C5tickers)
C5=yahoo_financials.get_total_revenue()

In [22]:
# Ranking based on Total revenue in Consumer Staples sector
C5_tr_df = pd.DataFrame.from_dict(
    data=C5,columns= ['Total revenue'],orient='index')
C5_tr_df.sort_values(['Total revenue'],ascending=False)

      Total revenue
WMT    523964000000
COST   152703000000
PG      67684000000
PEP     67161000000
KO      37266000000

In [24]:
yahoo_financials = YahooFinancials(C5tickers)
C5_pm=yahoo_financials.get_key_statistics_data()

In [27]:
# Ranking based on Profit margins in Consumer Staples sector
C5_pm_df1=pd.DataFrame.from_dict(data=C5_pm)
C5_pm_df1=C5_pm_df1.transpose()
C5_pm_df2=C5_pm_df1.sort_values(['priceToBook'],ascending=False)
C5_pm_df2['profitMargins']

PEP     0.10621
KO      0.26947
COST    0.02306
PG      0.07088
WMT     0.02811
Name: profitMargins, dtype: object

In [ ]:
# Energy Sector: Exxon Mobil, Chevron, ConocoPhillips, Kinder Morgan, and Phillips 66.

In [36]:
yahoo_financials = YahooFinancials(E5tickers)
E5_ebit=yahoo_financials.get_ebit()

In [39]:
# Ranking based on EBIT in Energy sector
E5_ebit1 = pd.DataFrame.from_dict(
    data=E5_ebit,columns= ['EBIT'],orient='index')
E5_ebit2=E5_ebit1.sort_values(['EBIT'],ascending=False)
E5_ebit2['EBIT']

XOM    11631000000
CVX    10478000000
COP     7435000000
KMI     3857000000
PSX     3269000000
Name: EBIT, dtype: int64

In [40]:
yahoo_financials = YahooFinancials(E5tickers)
E5_ie=yahoo_financials.get_interest_expense()

In [41]:
E5_ie1 = pd.DataFrame.from_dict(
    data=E5_ie,columns= ['Interest Expense'],orient='index')
E5_ie2=E5_ie1.sort_values(['Interest Expense'],ascending=False)
E5_ie2['Interest Expense']

PSX    -458000000
COP    -778000000
CVX    -798000000
XOM    -830000000
KMI   -1801000000
Name: Interest Expense, dtype: int64

In [49]:
result=E5_ebit2['EBIT']/E5_ie2['Interest Expense']

In [65]:
# Ranking based on EBIT/Interest Expense in Energy Sector
result.sort_values(ascending=True)

COP    0.002584
PSX    0.003302
CVX    0.003491
XOM    0.003650
KMI    0.009697
dtype: float64

In [57]:
symbols = E5tickers
df_combined = scrape_multi(symbols)

Attempting to scrape data for XOM
Attempting to scrape data for CVX
Attempting to scrape data for COP
Attempting to scrape data for KMI
Attempting to scrape data for PSX

In [58]:
E5data=pd.DataFrame(data=df_combined)

In [59]:
E5_df1=E5data.groupby(['Symbol']).mean()

In [63]:
E5_df2=E5_df1.sort_values(by='Total Debt',ascending=True)
E5_df2['Total Debt']

Symbol
PSX    10792750.0
COP    19210250.0
CVX    36580250.0
KMI    37402250.0
XOM    42453500.0
Name: Total Debt, dtype: float64

In [61]:
result2=result=E5_df2['Total Debt']/E5_ebit2['EBIT']

In [64]:
# Ranking based on Debt-to-EBIT ratio in Energy sector
result2.sort_values(ascending=True)

COP    0.002584
PSX    0.003302
CVX    0.003491
XOM    0.003650
KMI    0.009697
dtype: float64

In [ ]:
#Utilities sector: NextEra Energy, Dominion Energy, Duke Energy, Southern Company, and American Electric Power.

In [74]:
ticker = U5tickers
yahoo_financials = YahooFinancials(ticker)
U5_dividend_yield=yahoo_financials.get_dividend_yield()

In [86]:
U5_dy_df1 = pd.DataFrame.from_dict(
    data=U5_dividend_yield,columns=['Dividend yield'],orient='index')

In [87]:
#Ranking based on dividend yield in Energy sector
U5_dy_df1.sort_values(['Dividend yield'],ascending=False)

     Dividend yield
SO           0.0457
D            0.0447
DUK          0.0438
AEP          0.0340
NEE          0.0225

In [80]:
ticker = U5tickers
yahoo_financials = YahooFinancials(ticker)
U5_pr=yahoo_financials.get_payout_ratio()

In [83]:
U5_pr_df2 = pd.DataFrame.from_dict(
    data=U5_pr,columns=['Payout ratio'],orient='index')

In [84]:
#Ranking based on dividend yield in Energy sector
U5_pr_df2.sort_values(['Payout ratio'],ascending=True)

     Payout ratio
NEE        0.7143
AEP        0.7366
DUK        0.7421
SO         0.7470
D          1.7255

In [ ]:
# Real Estate Sector: American Tower, Crown Castle, Prologis, Equinix, and Simon Property Group.

In [92]:
ticker = R5tickers
yahoo_financials = YahooFinancials(ticker)
R5_oi=yahoo_financials.get_operating_income()

In [93]:
R5_oi_df1 = pd.DataFrame.from_dict(
    data=U5_pr,columns=['Operating Income'],orient='index')

In [96]:
# Ranking based on gross operating income in Real Estate sector
R5_oi_df1.sort_values(['Operating Income'],ascending=False)

     Operating Income
D              1.7255
SO             0.7470
DUK            0.7421
AEP            0.7366
NEE            0.7143

In [100]:
symbols = R5tickers
df_combined = scrape_multi(symbols)

Attempting to scrape data for AMT
Attempting to scrape data for CCI
Attempting to scrape data for PLD
Attempting to scrape data for EQIX
Attempting to scrape data for SPG

In [101]:
R5data=pd.DataFrame(data=df_combined)

In [102]:
R5_df1=R5data.groupby(['Symbol']).mean()

In [104]:
# Ranking based on Operating Cash Flow in Real Estate Sector
R5_df2=R5_df1.sort_values(by='Operating Cash Flow',ascending=True)
R5_df2['Operating Cash Flow']

Symbol
EQIX    1670476.8
PLD     1924011.4
CCI     2328890.0
AMT     3379520.8
SPG     3647380.0
Name: Operating Cash Flow, dtype: float64

In [ ]:
# Materials sector: Linde, Ecolab, Air Products & Chemicals, Sherwin-Williams, and Newmont Corporation.

In [112]:
ticker = M5tickers
yahoo_financials = YahooFinancials(ticker)
M5_pe=yahoo_financials.get_pe_ratio()

In [114]:
#Ranking based on P/E ratios in Materials sector
M5_df1 = pd.DataFrame.from_dict(
    data=M5_pe,columns= ['PE Ratio'],orient='index')
M5_df1.sort_values(['PE Ratio'],ascending=True)

      PE Ratio
NEM  12.918746
APD  26.903130
SHW  33.717990
ECL  37.759926
LIN  48.126300

In [121]:
ticker = M5tickers
yahoo_financials = YahooFinancials(ticker)
M5_eps=yahoo_financials.get_earnings_per_share()

In [122]:
#Ranking based on EPS ratios in Materials sector
M5_df2 = pd.DataFrame.from_dict(
    data=M5_eps,columns= ['EPS'],orient='index')
M5_df2.sort_values(['EPS'],ascending=False)

           EPS
SHW  17.340002
APD   8.754000
ECL   5.290000
NEM   4.406000
LIN   4.323000